<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhjl.tzzs.proxy.mapper.AdminUserMapper">
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.AdminUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="admin_type" jdbcType="INTEGER" property="adminType" />
    <result column="meta_app_id" jdbcType="INTEGER" property="metaAppId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="yn" jdbcType="INTEGER" property="yn" />
    <result column="phonenumber" jdbcType="VARCHAR" property="phonenumber" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <select id="selectTstzzsAdmins" resultMap="BaseResultMap">
  	select * from admin_user 
	where meta_app_id in (select id from meta_app where app_name = "天使投资指数") 
	<if test="keyword !=null and keyword !=''">
		and name like "%"#{keyword}"%"
	</if>
  </select>

    <select id="selectByLoginBody" parameterType="java.lang.String" resultType="java.lang.Integer">
        select user_id from admin_user where `name` =#{username} and `password` =#{password};
  </select>
</mapper>