<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhjl.tzzs.proxy.mapper.AdvertisingMapper" >
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.Advertising" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="advertising_posistion_id" property="advertisingPosistionId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="hides" property="hides" jdbcType="INTEGER" />
    <result column="edit_status" property="editStatus" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="yn" property="yn" jdbcType="INTEGER" />
    <result column="appid" property="appid" jdbcType="INTEGER" />
  </resultMap>
  <select id="findAdvertisingList" resultType="java.util.HashMap">
    SELECT a.id,ma.position_name,a.title,a.sort,a.begin_time,a.end_time,a.url,a.picture,
    case when a.hides = 1 then "否" else "是" end hides
    FROM advertising a
    left join meta_advertising_position ma on a.advertising_posistion_id = ma.id
    where yn = 1
    <if test="editStatus != null and editStatus !=''">
      and edit_status = #{editStatus}
    </if>
    <if test="hides != null and hides !=''">
      and hides in
      <foreach close=")" collection="hides" index="index" item="item" open="(" separator=",">#{item}</foreach>
    </if>
    <if test="appId != null and appId != ''">
      and appid = #{appId}
    </if>
    <if test="startTime !=null and startTime !=''">
      and begin_time between #{startTime} and #{endTime}
    </if>
    <if test="timeYn != null and timeYn !=''">
      and begin_time &lt; now()
      and end_time &gt; now()
    </if>
    <if test="positionId != null and positionId!=''">
      and advertising_posistion_id = #{positionId}
    </if>
    <if test="orderSort != null and orderSort !=''">
      order by sort
      <if test="orderSortDesc != null and orderSortDesc != ''">
        desc
      </if>
    </if>
    <if test="beginTimeSort != null and beginTimeSort !=''">
      order by begin_time
      <if test="beginTimeSortDesc != null and beginTimeSortDesc != ''">
        desc
      </if>
    </if>
    <if test="endTimeSort != null and endTimeSort !=''">
      order by end_time
      <if test="endTimeSortDesc != null and endTimeSortDesc != ''">
        desc
      </if>
    </if>
    limit #{startPage},#{pageSize}
  </select>

  <select id="findAdvertisingListCount" resultType="java.lang.Integer">
    select count(*) as ct from(
    SELECT a.id,ma.position_name,a.title,a.sort,a.begin_time,a.end_time,a.url,a.picture,
    case when a.hides = 1 then "否" else "是" end hides
    FROM advertising a
    left join meta_advertising_position ma on a.advertising_posistion_id = ma.id
    where yn = 1
    <if test="editStatus != null and editStatus !=''">
      and edit_status = #{editStatus}
    </if>
    <if test="hides != null and hides !=''">
      and hides in
      <foreach close=")" collection="hides" index="index" item="item" open="(" separator=",">#{item}</foreach>
    </if>
    <if test="appId != null and appId != ''">
      and appid = #{appId}
    </if>
    <if test="startTime !=null and startTime !=''">
      and begin_time between #{startTime} and #{endTime}
    </if>
    <if test="timeYn != null and timeYn !=''">
      and begin_time &lt; now()
      and end_time &gt; now()
    </if>
    <if test="positionId != null and positionId!=''">
      and advertising_posistion_id = #{positionId}
    </if>
    <if test="orderSort != null and orderSort !=''">
      order by sort
      <if test="orderSortDesc != null and orderSortDesc != ''">
        desc
      </if>
    </if>
    <if test="beginTimeSort != null and beginTimeSort !=''">
      order by begin_time
      <if test="beginTimeSortDesc != null and beginTimeSortDesc != ''">
        desc
      </if>
    </if>
    <if test="endTimeSort != null and endTimeSort !=''">
      order by end_time
      <if test="endTimeSortDesc != null and endTimeSortDesc != ''">
        desc
      </if>
    </if>) a
  </select>
</mapper>