<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhjl.tzzs.proxy.mapper.ElegantServiceMapper">
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.ElegantService">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="service_name" jdbcType="VARCHAR" property="serviceName" />
    <result column="original_price" jdbcType="DECIMAL" property="originalPrice" />
    <result column="vip_price" jdbcType="DECIMAL" property="vipPrice" />
    <result column="pre_vip_price_descript" jdbcType="VARCHAR" property="preVipPriceDescript" />
    <result column="price_unit" jdbcType="INTEGER" property="priceUnit" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="background_picture" jdbcType="VARCHAR" property="backgroundPicture" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="on_off" jdbcType="INTEGER" property="onOff" />
    <result column="recommend_yn" jdbcType="INTEGER" property="recommendYn" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="scence_key" jdbcType="VARCHAR" property="scenceKey" />
    <result column="yn" jdbcType="INTEGER" property="yn" />
    <result column="web_switch" jdbcType="INTEGER" property="webSwitch" />
  </resultMap>

  <select id="findElegantServiceList" resultType="java.util.HashMap">
    select es.service_name,es.pre_vip_price_descript,es.original_price,es.vip_price,esd.description,es.unit,es.background_picture,es.id,es.scence_key,es.begin_time,es.end_time
    from elegant_service es
    left join elegant_service_description esd on es.id = esd.elegant_service_id
    where es.on_off = 1
    and es.yn = 1
    order by es.sort
  </select>

  <select id="findElegantServiceById" resultType="java.util.HashMap">
    select es.service_name,es.original_price,es.vip_price,es.pre_vip_price_descript,es.unit,es.background_picture,es.scence_key,esdd.detail_description,esdd.description_type
    from elegant_service es
    left join elegant_service_description_detail esdd on es.id = esdd.elegant_service_id
    where es.id=#{elegantServiceId}

  </select>
  <select id="findBackstageElegantServiceList" resultType="java.util.HashMap">

  </select>

</mapper>