<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhjl.tzzs.proxy.mapper.ElegantServiceMapper">
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.ElegantService">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="service_name" jdbcType="VARCHAR" property="serviceName" />
    <result column="original_price" jdbcType="DECIMAL" property="originalPrice" />
    <result column="vip_price" jdbcType="DECIMAL" property="vipPrice" />
    <result column="pre_vip_price_descript" jdbcType="VARCHAR" property="preVipPriceDescript" />
    <result column="price_unit" jdbcType="INTEGER" property="priceUnit" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="background_picture" jdbcType="VARCHAR" property="backgroundPicture" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="on_off" jdbcType="INTEGER" property="onOff" />
    <result column="recommend_yn" jdbcType="INTEGER" property="recommendYn" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="scence_key" jdbcType="VARCHAR" property="scenceKey" />
    <result column="yn" jdbcType="INTEGER" property="yn" />
    <result column="web_switch" jdbcType="INTEGER" property="webSwitch" />
    <result column="appid" jdbcType="INTEGER" property="appid" />
    <result column="investor_landing_page" jdbcType="VARCHAR" property="investorLandingPage" />
    <result column="entrepreneur_landing_page" jdbcType="VARCHAR" property="entrepreneurLandingPage" />
    <result column="orthor_landing_page" jdbcType="VARCHAR" property="orthorLandingPage" />
    <result column="commission_publish" jdbcType="DECIMAL" property="commissionPublish" />
    <result column="commission_receiver" jdbcType="DECIMAL" property="commissionReceiver" />
    <result column="commission_publish_fixed" jdbcType="DECIMAL" property="commissionPublishFixed" />
    <result column="commission_receiver_fixed" jdbcType="DECIMAL" property="commissionReceiverFixed" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_reward" jdbcType="INTEGER" property="isReward" />
    <result column="is_lead_investor" jdbcType="INTEGER" property="isLeadInvestor" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="pay_status" jdbcType="INTEGER" property="payStatus" />
    <result column="custom_button_label" jdbcType="VARCHAR" property="customButtonLabel" />

  </resultMap>
  <select id="findElegantServiceList" resultType="java.util.HashMap">
    select es.service_name,es.pre_vip_price_descript,es.original_price,es.vip_price,esd.description,es.unit,es.price_unit,
    es.background_picture,es.id,es.scence_key,es.begin_time,es.end_time,es.recommend_yn,es.create_time
    from elegant_service es
    left join elegant_service_description esd on es.id = esd.elegant_service_id

    right join elegant_service_identity_type esit on esit.elegant_service_id = es.id
    left join meta_identity_type mit on esit.meta_identity_type_id = mit.id
    right join elegant_service_service_type esst on esst.elegant_service_id = es.id
    left join meta_service_type mst on esst.meta_service_type_id = mst.id

    RIGHT JOIN elegant_service_approve_type esat on esat.elegant_service_id = es.id
    RIGHT JOIN elegant_service_member_type esmt on esmt.elegant_service_id = es.id
    <if test="isLeadInvestor != null and isLeadInvestor != ''">
    RIGHT JOIN elegant_service_lead_investor esli on esli.elegant_service_id =  es.id
    </if>
    where es.on_off = 1
    and es.yn = 1
    AND es.begin_time &lt;= #{now}
    and es.end_time &gt;= #{now}
    <if test="token !=null and token !='' ">
      and creator = #{token}
    </if>
    <if test="appid != null and appid != ''">
      and es.appid = #{appid}
    </if>
    <if test="identityType != null and identityType.length &gt; 0">
      and esit.meta_identity_type_id in
      <foreach close=")" collection="identityType" index="index" item="item" open="(" separator=",">#{item}</foreach>
    </if>
    <if test="serviceType != null and serviceType.length &gt; 0">
      and esst.meta_service_type_id in
      <foreach close=")" collection="serviceType" index="index" item="item" open="(" separator=",">#{item}</foreach>
    </if>
    <if test="searchWord != null and searchWord !=''">
      and (
         es.service_name like CONCAT(CONCAT('%', #{searchWord}), '%')
        <if test="isReward != null and isReward != 1 " >
          or mit.type_name like CONCAT(CONCAT('%', #{searchWord}), '%')
          or mst.service_type_name like CONCAT(CONCAT('%', #{searchWord}), '%')
        </if>
         or esd.description like CONCAT(CONCAT('%', #{searchWord}), '%'))
    </if>
    <if test="recommendYn != null and recommendYn != ''">
      and es.recommend_yn = 1
    </if>

    <if test="approveType != null and approveType.length &gt; 0">
      and esat.approve_type in
      <foreach close=")" collection="identityType" index="index" item="item" open="(" separator=",">#{item}</foreach>
    </if>

    <if test="isLeadInvestor != null and isLeadInvestor != ''">
      and esli.lead_investor_type = #{isLeadInvestor}
    </if>

    <if test="isReward != null ">
      and es.is_reward = #{isReward}
    </if>

    <if test="memberType != null and memberType != ''">
      and esmt.member_type_id = #{memberType}
    </if>

    group by es.id
    <if test="createTimeOrder != null and createTimeOrder != ''">
      order by es.create_time desc
    </if>
    <if test="sortOrder != null and sortOrder != ''">
      order by es.sort
    </if>
    limit #{startPage},#{pageSize}
  </select>

  <select id="findElegantServiceById" resultType="java.util.HashMap">
    select es.service_name,es.original_price,es.vip_price,es.pre_vip_price_descript,es.price_unit,es.unit,es.background_picture,es.scence_key,esdd.detail_description,esdd.description_type
    from elegant_service es
    left join elegant_service_description_detail esdd on es.id = esdd.elegant_service_id
    where es.id=#{elegantServiceId}

  </select>
  <select id="findBackstageElegantServiceList" resultType="java.util.HashMap">

    select * from(
    select es.*,esc.cooperation_name from elegant_service es
    left join elegant_service_cooperation esc on es.id = esc.elegant_service_id
    left join elegant_service_identity_type esit on esit.elegant_service_id = es.id
    left join meta_identity_type mit on esit.meta_identity_type_id = mit.id
    left join elegant_service_service_type esst on esit.elegant_service_id = esst.elegant_service_id
    left join meta_service_type mst on esit.meta_identity_type_id = mst.id
    LEFT JOIN elegant_service_approve_type esat on esat.elegant_service_id = es.id
    LEFT JOIN elegant_service_member_type esmt on esmt.elegant_service_id = es.id
    where es.yn = 1
    <if test="appid != null and appid != ''">
     and es.appid = #{appid}
    </if>
    <if test="beginTime != null and beginTime!=''">
      and  date(es.begin_time)between

      #{beginTime} and #{endTime}
    </if>

    <if test="approveType != null and approveType != ''">
      and esat.approve_type = #{approveType}
    </if>

    <if test="isLeadInvestor != null and isLeadInvestor != ''">
      and es.is_lead_investor = #{isLeadInvestor}
    </if>

    <if test="isReward != null and isReward != ''">
      and es.is_reward = #{isReward}
    </if>

    <if test="memberType != null and memberType != ''">
      and esmt.member_type_id = #{memberType}
    </if>

    <if test="searchWord != null and searchWord !=''">
      and (mit.type_name like  CONCAT(CONCAT('%', #{searchWord}), '%')
      or es.service_name like  CONCAT(CONCAT('%', #{searchWord}), '%')
      or mst.service_type_name like  CONCAT(CONCAT('%', #{searchWord}), '%')
      or esc.cooperation_name like  CONCAT(CONCAT('%', #{searchWord}), '%'))
    </if>


    group by es.id
    ) as a
    order by a.sort
    limit #{startPage},#{pageSize}
  </select>

  <select id="selectCountBySearch" resultType="INTEGER">
    select count(*) from(
    select es.*,esc.cooperation_name from elegant_service es
    left join elegant_service_cooperation esc on es.id = esc.elegant_service_id
    left join elegant_service_identity_type esit on esit.elegant_service_id = es.id
    left join meta_identity_type mit on esit.meta_identity_type_id = mit.id
    left join elegant_service_service_type esst on esit.elegant_service_id = esst.elegant_service_id
    left join meta_service_type mst on esit.meta_identity_type_id = mst.id
    LEFT JOIN elegant_service_approve_type esat on esat.elegant_service_id = es.id
    LEFT JOIN elegant_service_member_type esmt on esmt.elegant_service_id = es.id
    where es.yn = 1
    <if test="appid != null and appid != ''">
      and es.appid = #{appid}
    </if>
    <if test="beginTime != null and beginTime!=''">
      and  date(es.begin_time)between

      #{beginTime} and #{endTime}
    </if>
    <if test="approveType != null and approveType != ''">
      and esat.approve_type = #{approveType}
    </if>

    <if test="isLeadInvestor != null and isLeadInvestor != ''">
      and es.is_lead_investor = #{isLeadInvestor}
    </if>

    <if test="isReward != null and isReward != ''">
      and es.is_reward = #{isReward}
    </if>

    <if test="memberType != null and memberType != ''">
      and esmt.member_type_id = #{memberType}
    </if>
    <if test="searchWord != null and searchWord !=''">
      and (mit.type_name like  CONCAT(CONCAT('%', #{searchWord}), '%')
      or es.service_name like  CONCAT(CONCAT('%', #{searchWord}), '%')
      or mst.service_type_name like  CONCAT(CONCAT('%', #{searchWord}), '%')
      or esc.cooperation_name like  CONCAT(CONCAT('%', #{searchWord}), '%'))
    </if>
    group by es.id
    ) as a
  </select>

</mapper>