<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhjl.tzzs.proxy.mapper.ElegantServiceParticipateMapper">
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.ElegantServiceParticipate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="elegant_service_id" jdbcType="INTEGER" property="elegantServiceId" />
    <result column="token" jdbcType="VARCHAR" property="token" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="completion_time" jdbcType="TIMESTAMP" property="completionTime" />
    <result column="appId" jdbcType="INTEGER" property="appid" />
    <result column="user_headpic" jdbcType="VARCHAR" property="userHeadpic"/>
    <result column="user_name" jdbcType="VARCHAR" property="userName"/>
    <result column="company_duties" jdbcType="VARCHAR" property="companyDuties"/>
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="collection_status" jdbcType="INTEGER" property="collectionStatus" />
    <result column="project_short_name" jdbcType="VARCHAR" property="projectName" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
  </resultMap>
  <select id="getElegantServiceParticipateList" resultMap="BaseResultMap">
    SELECT esp.id,esp.create_time,esp.`status`,
    case when u.actual_name is null then (case when uw.nick_name is null then "" else uw.nick_name end) else u.actual_name end user_name,
    case when u.headpic is null then (case when u.headpic_real is null then "" else u.headpic_real end) else u.headpic end user_headpic,
    case when u.company_duties is null then "" else u.company_duties end company_duties, u.company_name,
    esp.completion_time
    FROM elegant_service_participate esp
    left join users u on esp.token = u.uuid
    left join users_weixin uw on u.ID = uw.user_id
    where
    esp.appId = #{appId}
    and esp.elegant_service_id = #{elegantServiceId}
    order by create_time desc
    limit #{startPage},#{pageSize};
  </select>
  <select id="getElegantServiceParticipateById" resultMap="BaseResultMap">
    SELECT esp.id,esp.elegant_service_id,es.service_name,esp.token,esp.create_time,esp.`status`,
    case when u.actual_name is null then (case when uw.nick_name is null then "" else uw.nick_name end) else u.actual_name end user_name,
    case when u.headpic is null then (case when u.headpic_real is null then "" else u.headpic_real end) else u.headpic end user_headpic,
    case when u.company_duties is null then "" else u.company_duties end company_duties, u.company_name,
    esp.completion_time,esrp.project_id,esrp.project_short_name
    FROM elegant_service_participate esp
    left join users u on esp.token = u.uuid
    left join users_weixin uw on u.ID = uw.user_id
    left join elegant_service es on esp.elegant_service_id = es.id
    left join elegant_service_relevant_project esrp on esp.elegant_service_id = esrp.elegant_service_id
    where
    esp.id = #{elegantServiceParticipateId}
    and esp.appId = #{appId}
  </select>
</mapper>