<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhjl.tzzs.proxy.mapper.ElegantServiceLeadInvestorMapper">
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.ElegantServiceLeadInvestor">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="elegant_service_id" jdbcType="INTEGER" property="elegantServiceId" />
    <id column="lead_investor_type" jdbcType="INTEGER" property="leadInvestorType" />
  </resultMap>
</mapper>