<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhjl.tzzs.proxy.mapper.ElegantServiceRelevantProjectMapper" >
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.ElegantServiceRelevantProject" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="elegant_service_id" property="elegantServiceId" jdbcType="INTEGER" />
    <id column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="project_short_name" property="projectShortName" jdbcType="VARCHAR" />
    <result column="data_type" property="dataType" javaType="INTEGER" />
  </resultMap>
</mapper>