<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhjl.tzzs.proxy.mapper.FollowMapper" >
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.Follow" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="projects_id" property="projectsId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <!-- 更改关注状态 -->
  <update id="updateFollowStatus" parameterType="com.lhjl.tzzs.proxy.model.Follow">
    UPDATE follow SET STATUS=#{status},create_time=#{createTime} WHERE projects_id=#{projectsId} and user_id = #{userId}
  </update>

  <select id="findfollowyn"  resultMap="BaseResultMap">
  SELECT * FROM follow WHERE user_id =#{userId} AND projects_id=#{id} ORDER BY create_time DESC LIMIT 1
  </select>
  <select id="getProjectsFollowByIds" resultType="java.util.HashMap">
    select count(*) as ct,projects_id from follow where
    1=1
    <if test="projectsIds != null and projectsIds!=''">
      and projects_id in
      <foreach close=")" collection="projectsIds" index="index" item="item" open="(" separator=",">#{item}</foreach>
    </if>
    group by projects_id
  </select>
</mapper>