<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhjl.tzzs.proxy.mapper.FoundersEducationMapper" >
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.FoundersEducation" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="founder_ID" property="founderId" jdbcType="INTEGER" />
    <result column="education_experience" property="educationExperience" jdbcType="VARCHAR" />
  </resultMap>

  <select id="findFounderEducationIntelligent" resultType="java.util.HashMap">
    select *,count(education_experience) as cnt from founders_education
    where education_experience != ""
    <if test="inputsWords !=null and inputsWords !=''">
      and education_experience like concat(concat("%",#{inputsWords}),"%")
    </if>
    group by education_experience
    order by cnt desc
  </select>
	<select id="findFoundersEducationsByUserId" parameterType="Integer" resultType="String">
		select education_experience from founders_education where founder_ID =(select ID from founders
		where user_id =#{userId})
	</select>
</mapper>