<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhjl.tzzs.proxy.mapper.FoundersWorkMapper" >
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.FoundersWork" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="founder_id" property="founderId" jdbcType="INTEGER" />
    <result column="work_experience" property="workExperience" jdbcType="VARCHAR" />
  </resultMap>

  <select id="findFounderWorkIntelligent" resultType="java.util.HashMap">
    select *,count(work_experience) as cnt from founders_work
    where work_experience != ""
    <if test="inputsWords !=null and inputsWords !=''">
      and work_experience like concat(concat("%",#{inputsWords}),"%")
    </if>
    group by work_experience
    order by cnt desc
  </select>
</mapper>