<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhjl.tzzs.proxy.mapper.InterviewMapper">
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.Interview">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="projects_id" jdbcType="INTEGER" property="projectsId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>
  
  <resultMap id="InterviewListResultMap" type="com.lhjl.tzzs.proxy.dto.InterviewListOutputDto">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="actualName" jdbcType="VARCHAR" property="actualName" />
    <result column="companyName" jdbcType="VARCHAR" property="companyName" />
    <result column="companyDuties" jdbcType="VARCHAR" property="companyDuties" />
    <result column="shortName" jdbcType="VARCHAR" property="shortName" />
    <result column="descs" jdbcType="VARCHAR" property="desc" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="followStatus" jdbcType="INTEGER" property="followStatus" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>
  
  <select id="findProjectInterviewByIds" resultType="java.util.HashMap">
    select count(*) as ct,projects_id from interview where
    1=1
    <if test="projectsIds != null and projectsIds!=''">
      and projects_id in
      <foreach close=")" collection="projectsIds" index="index" item="item" open="(" separator=",">#{item}</foreach>
    </if>
    group by projects_id;
  </select>
  <update id="updateStatusByInterviewId" parameterType="Integer">
  	update interview set status = #{status} where ID = #{interviewId}
  </update>
  <select id="findById" parameterType="Integer">
  	select * from interview where ID = #{id}
  </select>
  
  	<select id="getInterviewList" resultMap="InterviewListResultMap" parameterType="com.lhjl.tzzs.proxy.dto.InterviewListInputDto">
		select i.ID id,u.actual_name actualName ,u.company_name companyName,u.company_duties companyDuties,
		p.short_name shortName,i.desc descs,i.create_time createTime,i.status followStatus,i.comment comment
		from users u 
		inner join interview i on i.user_id =u.uuid
		inner join projects p on i.projects_id=p.ID
		where 1 = 1
		<if test="keyWords != null and keyWords != ''">
                AND (u.actual_name like "%"#{keyWords}"%" or u.company_name like "%"#{keyWords}"%" or u.company_duties like "%"#{keyWords}"%"
				or p.short_name like "%"#{keyWords}"%" or i.desc like "%"#{keyWords}"%" or i.comment like "%"#{keyWords}"%")
        </if>
        <if test="followStatus != null and followStatus != ''">
                AND i.status = #{followStatus}
        </if>  
        <if test="order != null and order != ''">
        		order by i.create_time ${order}
        </if>
		limit #{start},#{pageSize}
	</select>
	
	<select id="getInterviewListCount" resultType="Long" parameterType="com.lhjl.tzzs.proxy.dto.InterviewListInputDto">
		select COUNT(*)
		from users u 
		inner join interview i on i.user_id =u.uuid
		inner join projects p on i.projects_id=p.ID
		where 1 =1
			<if test="keyWords != null and keyWords != ''">
                AND (u.actual_name like "%"#{keyWords}"%" or u.company_name like "%"#{keyWords}"%" or u.company_duties like "%"#{keyWords}"%"
				or p.short_name like "%"#{keyWords}"%" or i.desc like "%"#{keyWords}"%" or i.comment like "%"#{keyWords}"%")
        	</if>
        	<if test="followStatus != null and followStatus != ''">
                AND i.status = #{followStatus}  
        	</if>  
	</select>
</mapper>