<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhjl.tzzs.proxy.mapper.InvestorsApprovalMapper">
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.InvestorsApproval">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="approval_username" jdbcType="VARCHAR" property="approvalUsername" />
    <result column="investors_type" jdbcType="INTEGER" property="investorsType" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="company_duties" jdbcType="VARCHAR" property="companyDuties" />
    <result column="work_card" jdbcType="VARCHAR" property="workCard" />
    <result column="approval_result" jdbcType="INTEGER" property="approvalResult" />
    <result column="supplementary_explanation" jdbcType="VARCHAR" property="supplementaryExplanation" />
    <result column="review_time" jdbcType="TIMESTAMP" property="reviewTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="leadership" jdbcType="INTEGER" property="leadership" />
    <result column="investors_approvalcol_case" jdbcType="VARCHAR" property="investorsApprovalcolCase" />
    <result column="form_id" jdbcType="VARCHAR" property="formId" />
    <result column="institution_id" jdbcType="INTEGER" property="institutionId" />
  </resultMap>
  
  <resultMap id="InvestorsApprovalListOutputMap" type="com.lhjl.tzzs.proxy.dto.InvestorsApprovalOutputDto">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="INTEGER" property="userId" />
    <result column="approval_username" jdbcType="VARCHAR" property="userName" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="company_duties" jdbcType="VARCHAR" property="companyDuties" />
    <result column="phonenumber" jdbcType="VARCHAR" property="phoneNum" />
    <result column="investors_type" jdbcType="VARCHAR" property="investorType" />
    <result column="description" jdbcType="VARCHAR" property="investorDescription" />
    <result column="work_card" jdbcType="VARCHAR" property="workCard" />
    <result column="investors_approvalcol_case" jdbcType="VARCHAR" property="investCase" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    
    <result column="approval_result" jdbcType="INTEGER" property="approvalResult" />
    <result column="shenfen" jdbcType="VARCHAR" property="investorTypeResult" />
  </resultMap>

   <select id="findInvestorsApproval" parameterType="INTEGER" resultType="java.util.HashMap">
   SELECT i.* FROM investors_approval i  WHERE i.userid=#{userId} ORDER BY i.review_time DESC LIMIT 1
  </select>

  <select id="findApproval" resultMap="BaseResultMap">
    SELECT id,userid,approval_username,investors_type,description,company,company_duties,work_card,approval_result,
    supplementary_explanation,review_time,create_time,leadership,form_id,institution_id FROM investors_approval WHERE 1=1
    <if test="checkName !='' and checkName != null">
      AND
      (approval_username LIKE CONCAT('%',#{checkName},'%')
      OR description LIKE CONCAT('%',#{checkName},'%')
      OR company LIKE CONCAT('%',#{checkName},'%')
      OR company_duties LIKE CONCAT('%',#{checkName},'%')
      )
    </if>
    <if test="time == 1">
      AND to_days(create_time) = to_days(now())
    </if>
    <if test="time == 2">
      AND YEARWEEK(date_format(create_time,'%Y-%m-%d')) = YEARWEEK(now())
    </if>
    <if test="time == 3">
      AND DATE_FORMAT(create_time, '%Y%m') = DATE_FORMAT(CURDATE( ) , '%Y%m')
    </if>
    ORDER BY create_time desc
    LIMIT #{beginNum},#{pageSize}
  </select>
  <select id="findApprovalName" resultType="com.lhjl.tzzs.proxy.dto.ProjectInvestmentDto">
  SELECT * FROM investors_approval WHERE company=#{shortName}AND approval_result =4
  GROUP BY userid
  ORDER BY create_time DESC
  </select>
  
  <select id="findApprovalList" resultMap="InvestorsApprovalListOutputMap" parameterType="com.lhjl.tzzs.proxy.dto.InvestorsApprovalInputDto">
    SELECT ia.id,
    case when ivs.investors_type is null then "" else
    (case when ivs.investors_type = 0 then "个人投资人" else (case when ivs.investors_type = 1 then "机构投资人" else "VIP投资人" end) end)
    end shenfen,
    ia.userid,u.company_name company,ia.company_duties,u.phonenumber,u.actual_name approval_username,
    case when ia.investors_type is null then "" else
    (case when ia.investors_type = 0 then "个人投资人" else (case when ia.investors_type = 1 then "机构投资人" else "VIP投资人" end) end)
    end investors_type,
    ia.description,ia.work_card,ia.investors_approvalcol_case,ia.create_time,ia.approval_result
    FROM investors_approval ia
    left join users u on ia.userid = u.ID
    left join users_weixin uw on ia.userid = uw.user_id
    left join (select * from investors  where approval_status = 1) ivs on ia.userid = ivs.user_id
    where 1=1
    <if test="searchWord != null and searchWord !=''">
     and (ia.approval_username like CONCAT("%",CONCAT(#{searchWord},"%"))  or ia.company like CONCAT("%",CONCAT(#{searchWord},"%"))
      or ia.company_duties like CONCAT("%",CONCAT(#{searchWord},"%")) or u.phonenumber like CONCAT("%",CONCAT(#{searchWord},"%")))
    </if>
    <if test="investorType != null and investorType.size > 0">
      and ia.investors_type in
      <foreach close=")" collection="investorType" index="index" item="item" open="(" separator=",">#{item}</foreach>
    </if>
    <if test="aduitStatus != null and aduitStatus.size > 0">
      and ia.approval_result in
      <foreach close=")" collection="aduitStatus" index="index" item="item" open="(" separator=",">#{item}</foreach>
    </if>
    <if test="approvalTimeOrder != null and approvalTimeOrder !=''">
      order by ia.create_time
      <if test="approvalTimeOrderDesc != null and approvalTimeOrderDesc !=''">
        desc
      </if>
    </if>
    limit #{start},#{pageSize}
  </select>
  <select id="findApprovalListCount" resultType="java.lang.Long" parameterType="com.lhjl.tzzs.proxy.dto.InvestorsApprovalInputDto">
    select count(*)
    FROM investors_approval ia
    left join users u on ia.userid = u.ID
    left join users_weixin uw on ia.userid = uw.user_id
    left join (select * from investors  where approval_status = 1) ivs on ia.userid = ivs.user_id
    where 1=1
    <if test="searchWord != null and searchWord !=''">
      and (ia.approval_username like CONCAT("%",CONCAT(#{searchWord},"%"))  or ia.company like CONCAT("%",CONCAT(#{searchWord},"%"))
      or ia.company_duties like CONCAT("%",CONCAT(#{searchWord},"%")) or u.phonenumber like CONCAT("%",CONCAT(#{searchWord},"%")))
    </if>
    <if test="investorType != null and investorType.size > 0">
      and ia.investors_type in
      <foreach close=")" collection="investorType" index="index" item="item" open="(" separator=",">#{item}</foreach>
    </if>
    <if test="aduitStatus != null and aduitStatus.size > 0">
      and ia.approval_result in
      <foreach close=")" collection="aduitStatus" index="index" item="item" open="(" separator=",">#{item}</foreach>
    </if>
  </select>
</mapper>