<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhjl.tzzs.proxy.mapper.InvestmentInstitutionsMapper">
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.InvestmentInstitutions">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="commet" jdbcType="VARCHAR" property="commet" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="case_url" jdbcType="VARCHAR" property="caseUrl" />
    <result column="kenel_case" jdbcType="VARCHAR" property="kenelCase" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="stage" jdbcType="VARCHAR" property="stage" />
    <result column="representative" jdbcType="VARCHAR" property="representative" />
  </resultMap>

  <insert id="add" keyProperty="id" parameterType="com.lhjl.tzzs.proxy.model.InvestmentInstitutions" useGeneratedKeys="true">
    insert into investment_institutions(short_name, commet,create_time) values(#{shortName}, #{commet}, #{createTime} )
  </insert>

  <select id="findByInvestmentShortNameAll" parameterType="String" resultType="java.util.HashMap">
    SELECT b.*,
    (SELECT COUNT(*) FROM follow_investment a WHERE a.investment_id = b.`ID` AND a.yn = 1)num,
    (SELECT MAX(f.yn)s FROM follow_investment f WHERE f.user_id = #{userId, jdbcType=VARCHAR} AND f.investment_id = b.`ID` GROUP BY f.investment_id )yn
    FROM investment_institutions b
    WHERE short_name LIKE CONCAT('%',#{shortName,jdbcType=VARCHAR},'%')
  </select>

</mapper>