<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhjl.tzzs.proxy.mapper.InvestmentInstitutionsMapper">
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.InvestmentInstitutions">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="commet" jdbcType="VARCHAR" property="commet" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="case_url" jdbcType="VARCHAR" property="caseUrl" />
    <result column="kenel_case" jdbcType="VARCHAR" property="kenelCase" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="stage" jdbcType="VARCHAR" property="stage" />
    <result column="representative" jdbcType="VARCHAR" property="representative" />
    <result column="approval_status" jdbcType="INTEGER" property="approvalStatus" />
    <result column="approval_time" jdbcType="TIMESTAMP" property="approvalTime" />
    <!--自定义字段，数据库中不存在，表示投资项目数量-->
    <result column="projects_num" jdbcType="INTEGER" property="projectsNum" />
  </resultMap>

  <insert id="add" keyProperty="id" parameterType="com.lhjl.tzzs.proxy.model.InvestmentInstitutions" useGeneratedKeys="true">
    insert into investment_institutions(short_name, commet,create_time) values(#{shortName}, #{commet}, #{createTime} )
  </insert>

  <select id="findByInvestmentShortNameAll" parameterType="String" resultType="java.util.HashMap">
    SELECT b.*,
    (SELECT COUNT(*) FROM follow_investment a WHERE a.investment_id = b.`ID` AND a.yn = 1)num,
    (SELECT MAX(f.yn)s FROM follow_investment f WHERE f.user_id = #{userId, jdbcType=VARCHAR} AND f.investment_id = b.`ID` GROUP BY f.investment_id )yn
    FROM investment_institutions b
    WHERE short_name LIKE CONCAT('%',#{shortName,jdbcType=VARCHAR},'%')
  </select>

  <select id="findInvestment" resultMap="BaseResultMap">
    select ii.id, ii.short_name, ii.commet, ii.create_time, ii.type, ii.logo, ii.case_url, ii.kenel_case,
    ii.comment, ii.city, ii.stage, ii.representative, count(distinct p.serial_number) projects_num from
    project_financing_log pfl
    left join projects p  on pfl.project_id = p.id
    left join investment_institutions ii on p.investment_institutions_id = ii.id
    where p.`ID` NOT IN(SELECT id FROM projects  WHERE serial_number > 500000 AND (continent = '国外' OR city = '' OR city IS NULL))
    AND ii.short_name IS NOT NULL AND ii.short_name != ''
    <if test="type != '' and type != null and type != '-1'">
      AND ii.type = #{type}
    </if>
    <if test="type == '-1'">
      AND ii.type IN (0,1)
    </if>
    AND ii.yn = 1
    AND pfl.financing_time >  '2017-01-01'
    GROUP BY ii.`short_name`
    ORDER BY projects_num desc
    <if test="beginNum != null and pageSize != null">
      LIMIT #{beginNum},#{pageSize}
    </if>
  </select>

</mapper>