<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhjl.tzzs.proxy.mapper.InvestmentInstitutionsSegmentationMapper" >
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.InvestmentInstitutionsSegmentation" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="meta_segmentation_id" property="metaSegmentationId" jdbcType="INTEGER" />
    <id column="investment_institutions_id" property="investmentInstitutionsId" jdbcType="INTEGER" />
  </resultMap>
  <select id="findSegment" resultType="java.util.Map">
    select ms.`name`,ms.segmentation_logo from investment_institutions_segmentation iis
    left join meta_segmentation ms on iis.meta_segmentation_id = ms.id
    where iis.investment_institutions_id = #{institutionId};
  </select>

  <select id="findYear" resultType="java.util.HashMap">
    select pfl.financing_time_year from investment_institutions_project iip
    left join projects p on iip.project_id = p.ID
    left join project_financing_log pfl on iip.project_id = pfl.project_id
    where iip.investment_institutions_id = #{institutionId}
    and pfl.financing_time_year is not null
    group by pfl.financing_time_year
    order by pfl.financing_time_year desc
  </select>
  
    <!-- 批量插入 -->
  <insert id="addBatch" parameterType="java.util.List">
  insert into investment_institutions_segmentation(meta_segmentation_id,investment_institutions_id) values
  <foreach collection="list" item="item" index="index" separator=",">
  (#{item.metaSegmentationId},#{item.investmentInstitutionsId})
  </foreach>
  </insert>

  <select id="selectSegmentationCount" resultType="java.util.HashMap">
    select count(1) ct , a.segmentation_name,ms.segmentation_logo from (
    select p.id,ps.segmentation_name,p.full_name,iip.investment_institutions_id from project_financing_log pfl left join projects p on pfl.project_id = p.id
    right join project_segmentation ps on ps.project_id = p.id
    right join investment_institutions_project iip  on  iip.project_id = pfl.id
    where iip.investment_institutions_id = #{institutionId} and ps.segmentation_name is not null
    group by p.full_name,ps.segmentation_name
    ) a
    left join meta_segmentation ms on a.segmentation_name = ms.`name`
    where ms.segmentation_logo is not null
    group by a.segmentation_name
    order by ct desc;
  </select>
</mapper>