<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhjl.tzzs.proxy.mapper.InvestmentInstitutionsStageMapper" >
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.InvestmentInstitutionsStage" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="meta_project_stage_id" property="metaProjectStageId" jdbcType="INTEGER" />
    <id column="investment_institution_id" property="investmentInstitutionId" jdbcType="INTEGER" />
  </resultMap>
  <select id="findInstitutionStage" resultType="java.util.Map">
    select mps.`name` from investment_institutions_stage iis
    left join meta_project_stage mps on iis.meta_project_stage_id = mps.id
    where iis.investment_institution_id =#{institutionId};
  </select>
  <!-- 批量插入 -->
  <insert id="addBatch" parameterType="java.util.List">
  insert into investment_institutions_stage(meta_project_stage_id,investment_institution_id) values
  <foreach collection="list" item="item" index="index" separator=",">
  (#{item.metaProjectStageId},#{item.investmentInstitutionId})
  </foreach>
  </insert>
  
  
</mapper>