<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhjl.tzzs.proxy.mapper.InvestorsApprovalMapper">
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.InvestorsApproval">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="approval_username" jdbcType="VARCHAR" property="approvalUsername" />
    <result column="investors_type" jdbcType="INTEGER" property="investorsType" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="company_duties" jdbcType="VARCHAR" property="companyDuties" />
    <result column="work_card" jdbcType="VARCHAR" property="workCard" />
    <result column="approval_result" jdbcType="INTEGER" property="approvalResult" />
    <result column="supplementary_explanation" jdbcType="VARCHAR" property="supplementaryExplanation" />
    <result column="review_time" jdbcType="TIMESTAMP" property="reviewTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="leadership" jdbcType="INTEGER" property="leadership" />
  </resultMap>

   <select id="findInvestorsApproval" parameterType="INTEGER" resultType="java.util.HashMap">
   SELECT i.* FROM investors_approval i  WHERE i.userid=#{userId} GROUP BY i.review_time DESC LIMIT 1
  </select>

  <select id="findApproval" resultMap="BaseResultMap">
    SELECT id,userid,approval_username,investors_type,description,company,company_duties,work_card,approval_result,
    supplementary_explanation,review_time,create_time,leadership FROM investors_approval WHERE 1=1
    <if test="checkName !='' and checkName != null">
      AND
      (approval_username LIKE CONCAT('%',#{checkName},'%')
      OR description LIKE CONCAT('%',#{checkName},'%')
      OR company LIKE CONCAT('%',#{checkName},'%')
      OR company_duties LIKE CONCAT('%',#{checkName},'%')
      )
    </if>
    <if test="time == 1">
      AND to_days(create_time) = to_days(now())
    </if>
    <if test="time == 2">
      AND YEARWEEK(date_format(create_time,'%Y-%m-%d')) = YEARWEEK(now())
    </if>
    <if test="time == 3">
      AND DATE_FORMAT(create_time, '%Y%m') = DATE_FORMAT(CURDATE( ) , '%Y%m')
    </if>
    ORDER BY create_time desc
    LIMIT #{beginNum},#{pageSize}
  </select>
</mapper>