<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhjl.tzzs.proxy.mapper.InvestmentInstitutionsSegmentationMapper" >
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.InvestmentInstitutionsSegmentation" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="meta_segmentation_id" property="metaSegmentationId" jdbcType="INTEGER" />
    <id column="investment_institutions_id" property="investmentInstitutionsId" jdbcType="INTEGER" />
  </resultMap>
  <select id="findSegment" resultType="java.util.Map">
    select ms.`name`,ms.segmentation_logo from investment_institutions_segmentation iis
    left join meta_segmentation ms on iis.meta_segmentation_id = ms.id
    where iis.investment_institutions_id = #{institutionId};
  </select>
</mapper>