<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhjl.tzzs.proxy.mapper.InvestorsMapper">
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.Investors">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="investment_institutions_id" jdbcType="INTEGER" property="investmentInstitutionsId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="yn" jdbcType="INTEGER" property="yn" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="approval_status" jdbcType="INTEGER" property="approvalStatus" />
    <result column="approval_time" jdbcType="TIMESTAMP" property="approvalTime" />
    <result column="investors_type" jdbcType="INTEGER" property="investorsType" />
    <result column="investor_source_type" jdbcType="INTEGER" property="investorSourceType" />
    <result column="team_id" jdbcType="INTEGER" property="teamId" />
    <result column="self_def_team" jdbcType="VARCHAR" property="selfDefTeam" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="kernel_description" jdbcType="VARCHAR" property="kernelDescription" />
    <result column="identity_type" jdbcType="INTEGER" property="identityType" />
    <result column="weichat" jdbcType="VARCHAR" property="weichat" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="birth_day" jdbcType="TIMESTAMP" property="birthDay" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="diploma" jdbcType="INTEGER" property="diploma" />
    <result column="nationality" jdbcType="INTEGER" property="nationality" />
    <result column="tenure_time" jdbcType="TIMESTAMP" property="tenureTime" />
    <result column="business_card" jdbcType="VARCHAR" property="businessCard" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="business_description" jdbcType="VARCHAR" property="businessDescription" />
    <result column="education_description" jdbcType="VARCHAR" property="educationDescription" />
    <result column="work_description" jdbcType="VARCHAR" property="workDescription" />
    <result column="honor" jdbcType="VARCHAR" property="honor" />
    <result column="personal_introduction" jdbcType="VARCHAR" property="personalIntroduction" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="company_introduction" jdbcType="VARCHAR" property="companyIntroduction" />
    <result column="certification_instructions" jdbcType="VARCHAR" property="certificationInstructions" />
    <result column="business_card_opposite" jdbcType="VARCHAR" property="businessCardOpposite" />
  </resultMap>

  <resultMap id="newInvestortMap" type="com.lhjl.tzzs.proxy.dto.ProjectInvestmentDto">
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  
  <resultMap id="InvestorsOutputMap" type="com.lhjl.tzzs.proxy.investorDto.InvestorsOutputDto">
    <result column="ID" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="position" jdbcType="VARCHAR" property="position" />
    <result column="phonenumber" jdbcType="VARCHAR" property="phonenumber" />
    <result column="weChatGroupId" jdbcType="VARCHAR" property="weChatGroupId" />
    <result column="irPrincipal" jdbcType="VARCHAR" property="irPrincipal" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="cooperativeRelationship" jdbcType="VARCHAR" property="cooperativeRelationship" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="currency" jdbcType="VARCHAR" property="currency" />
    <result column="segmentations" jdbcType="VARCHAR" property="segmentations" />
    <result column="speedways" jdbcType="VARCHAR" property="speedways" />
    <result column="stages" jdbcType="VARCHAR" property="stages" />
    <result column="investment_amount_low" jdbcType="DECIMAL" property="investmentAmountLow" />
    <result column="investment_amount_high" jdbcType="DECIMAL" property="investmentAmountHigh" />
    <result column="investment_amount_low_dollars" jdbcType="DECIMAL" property="investmentAmountLowDollars" />
    <result column="investment_amount_high_dollars" jdbcType="DECIMAL" property="investmentAmountHighDollars" />
    <result column="demand" jdbcType="VARCHAR" property="demand" />
    <result column="citys" jdbcType="VARCHAR" property="citys" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
   <select id="listInvestorsInfos" resultMap="InvestorsOutputMap">
    	SELECT i.ID,i.user_id,i.name,
	ii.short_name,i.position,ide.phonenumber,
	mgt.weChatGroupId, mgt.irPrincipal, mgt.cooperativeRelationship,
	mdst.type_name,iit.type,funds.currency,
	seg.segmentations,speedway.speedways,stage.stages,
	ide.investment_amount_low,ide.investment_amount_high,ide.investment_amount_low_dollars,ide.investment_amount_high_dollars,
	ide.demand,city.citys,
	i.create_time,i.update_time
	FROM investors i
	LEFT JOIN meta_data_source_type mdst ON i.investor_source_type = mdst.id
	LEFT JOIN investment_institutions ii ON i.investment_institutions_id = ii.ID
	LEFT JOIN (SELECT investment_institutions_id,GROUP_CONCAT(distinct type) as type from investment_institutions_type GROUP BY investment_institutions_id) iit ON ii.ID=iit.investment_institutions_id
	LEFT JOIN (SELECT investment_institutions_id iid,GROUP_CONCAT(distinct currency) as currency from investment_institutions_funds GROUP BY investment_institutions_id
							) funds ON funds.iid=ii.ID 
	LEFT JOIN investor_demand ide ON i.id=ide.investor_id
	LEFT JOIN (SELECT investor_demand_id a,GROUP_CONCAT(segmentation) as segmentations from investor_demand_segmentation GROUP BY investor_demand_id) seg on seg.a=ide.id
	LEFT JOIN (SELECT investor_demand_id b,GROUP_CONCAT(speedway) as speedways from investor_demand_speedway GROUP BY investor_demand_id) speedway on speedway.b=ide.id
	LEFT JOIN (SELECT ids.investor_demand_id c,GROUP_CONCAT(name) as stages from investor_demand_stage ids
							LEFT JOIN meta_project_stage mps on ids.meta_project_stage_id = mps.id
							GROUP BY investor_demand_id) stage on stage.c=ide.id
	LEFT JOIN (SELECT id,GROUP_CONCAT(city) as citys from investor_city GROUP BY id) city on city.id = i.ID
	LEFT JOIN (SELECT data_id, wechat_group_id weChatGroupId,cooperative_relationship cooperativeRelationship,ir_principal irPrincipal from datas_operation_manage where data_type='INVESTOR') mgt on mgt.data_id=i.ID
  WHERE  i.yn =1
  <choose>
		<!-- 不是超级管理员 -->
      <when test="adminType !=0 and adminName != null and adminName != ''">
         AND mgt.irPrincipal = #{adminName}
      </when>
      <otherwise>
      </otherwise>
  </choose>
  <!-- 模糊搜索 -->
  <if test="keyWords != null and keyWords != ''">
                AND (i.name like "%"#{keyWords}"%" or ii.short_name like "%"#{keyWords}"%" or i.position like "%"#{keyWords}"%"
				or mdst.type_name like "%"#{keyWords}"%" or iit.type like "%"#{keyWords}"%" or seg.segmentations like "%"#{keyWords}"%"
				or speedway.speedways like "%"#{keyWords}"%" or stage.stages like "%"#{keyWords}"%"
				or ide.demand like "%"#{keyWords}"%" or city.citys like "%"#{keyWords}"%" or mgt.irPrincipal like "%"#{keyWords}"%"
				or mgt.weChatGroupId like "%"#{keyWords}"%" )
  </if>
  <!-- 范围搜索 -->
  <!-- 查询条件：创建开始时间 -->
  <if test="startTime !=null ">
        AND i.create_time &gt;= #{startTime}
  </if>
  <!-- 查询条件：创建结束时间 -->
  <if test="endTime !=null ">
      AND i.create_time &lt;= #{endTime}
  </if>
  <if test="amountBeginRmb !=null and amountBeginRmb !=''">
      AND ide.investment_amount_low &gt;= #{amountBeginRmb}
  </if>
  <if test="amountEndRmb !=null and amountEndRmb !=''">
      AND ide.investment_amount_high &lt;= #{amountEndRmb}
  </if>
  <if test="amountBeginDollar !=null and amountBeginDollar !=''">
      AND ide.investment_amount_low_dollars &gt;= #{amountBeginDollar}
  </if>
  <if test="amountEndDollar !=null and amountEndDollar !=''">
      AND ide.investment_amount_high_dollars &lt;= #{amountEndDollar}
  </if>
  <!-- 精确搜索 -->
  <!-- 根据项目来源进行精确搜索 -->
  <if test="typeName !=null and typeName !=''">
      AND mdst.type_name = #{typeName}
  </if>
  <if test="type !=null and type !=''">
      AND iit.type = #{type}
  </if>
  <if test="currency !=null and currency !=''">
      AND funds.currency = #{currency}
  </if>
  <if test="irPrincipal !=null and irPrincipal !=''">
      AND mgt.irPrincipal = #{irPrincipal}
  </if>
  <if test="cooperativeRelationship !=null and cooperativeRelationship !=''">
      AND mgt.cooperativeRelationship = #{cooperativeRelationship}
  </if>
  
  <!-- 默认排序 -->
  <choose>
      <when test="column != null and column !='' and order != null and order != ''">
          order by i.${column} ${order}
      </when>
      <otherwise>
          order by i.update_time desc
      </otherwise>
  </choose>
  limit #{start},#{pageSize}
  </select>
  
  <select id="getInvestorsListCount" resultType="Long">
  	SELECT count(*)
	FROM investors i
	LEFT JOIN meta_data_source_type mdst ON i.investor_source_type = mdst.id
	LEFT JOIN investment_institutions ii ON i.investment_institutions_id = ii.ID
	LEFT JOIN (SELECT investment_institutions_id,GROUP_CONCAT(distinct type) as type from investment_institutions_type GROUP BY investment_institutions_id) iit ON ii.ID=iit.investment_institutions_id
	LEFT JOIN (SELECT investment_institutions_id iid,GROUP_CONCAT(distinct currency) as currency from investment_institutions_funds GROUP BY investment_institutions_id
							) funds ON funds.iid=ii.ID 
	LEFT JOIN investor_demand ide ON i.id=ide.investor_id
	LEFT JOIN (SELECT investor_demand_id a,GROUP_CONCAT(segmentation) as segmentations from investor_demand_segmentation GROUP BY investor_demand_id) seg on seg.a=ide.id
	LEFT JOIN (SELECT investor_demand_id b,GROUP_CONCAT(speedway) as speedways from investor_demand_speedway GROUP BY investor_demand_id) speedway on speedway.b=ide.id
	LEFT JOIN (SELECT ids.investor_demand_id c,GROUP_CONCAT(name) as stages from investor_demand_stage ids
							LEFT JOIN meta_project_stage mps on ids.meta_project_stage_id = mps.id
							GROUP BY investor_demand_id) stage on stage.c=ide.id
	LEFT JOIN (SELECT id,GROUP_CONCAT(city) as citys from investor_city GROUP BY id) city on city.id = i.ID
	LEFT JOIN (SELECT data_id, wechat_group_id weChatGroupId,cooperative_relationship cooperativeRelationship,ir_principal irPrincipal from datas_operation_manage where data_type='INVESTOR') mgt on mgt.data_id=i.ID
  WHERE i.approval_status != 0 AND i.yn =1
  <!-- 设置负责人为当前用户 -->
  
  <choose>
		<!-- 不是超级管理员 -->
      <when test="adminType !=0 and adminName != null and adminName != ''">
         AND mgt.irPrincipal = #{adminName}
      </when>
      <otherwise>
      </otherwise>
  </choose>
  <if test="keyWords != null and keyWords != ''">
                AND (i.name like "%"#{keyWords}"%" or ii.short_name like "%"#{keyWords}"%" or i.position like "%"#{keyWords}"%"
				or mdst.type_name like "%"#{keyWords}"%" or iit.type like "%"#{keyWords}"%" or seg.segmentations like "%"#{keyWords}"%"
				or speedway.speedways like "%"#{keyWords}"%" or stage.stages like "%"#{keyWords}"%"
				or ide.demand like "%"#{keyWords}"%" or city.citys like "%"#{keyWords}"%"
				or mgt.irPrincipal like "%"#{keyWords}"%" or mgt.weChatGroupId like "%"#{keyWords}"%")
  </if>
  <!-- 查询条件：创建开始时间 -->
  <if test="startTime !=null">
        AND i.create_time &gt;= #{startTime}
  </if>
  <!-- 查询条件：创建结束时间 -->
  <if test="endTime !=null">
      AND i.create_time &lt;= #{endTime}
  </if>
  <if test="amountBeginRmb !=null and amountBeginRmb !=''">
      AND ide.investment_amount_low &gt;= #{amountBeginRmb}
  </if>
  <if test="amountEndRmb !=null and amountEndRmb !=''">
      AND ide.investment_amount_high &lt;= #{amountEndRmb}
  </if>
  <if test="amountBeginDollar !=null and amountBeginDollar !=''">
      AND ide.investment_amount_low_dollars &gt;= #{amountBeginDollar}
  </if>
  <if test="amountEndDollar !=null and amountEndDollar !=''">
      AND ide.investment_amount_high_dollars &lt;= #{amountEndDollar}
  </if>
  <if test="typeName !=null and typeName !=''">
      AND mdst.type_name = #{typeName}
  </if>
  <if test="type !=null and type !=''">
      AND iit.type = #{type}
  </if>
  <if test="currency !=null and currency !=''">
      AND funds.currency = #{currency}
  </if>
  <if test="irPrincipal !=null and irPrincipal !=''">
      AND mgt.irPrincipal = #{irPrincipal}
  </if>
  <if test="cooperativeRelationship !=null and cooperativeRelationship !=''">
      AND mgt.cooperativeRelationship = #{cooperativeRelationship}
  </if>
  </select>
  
  <select id="findinvestorId" resultMap="newInvestortMap">
    SELECT * FROM investors WHERE investment_institutions_id=#{invesId}
    ORDER BY create_time DESC
  </select>

</mapper>