<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhjl.tzzs.proxy.mapper.MetaFinancingMapper">
    <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.MetaFinancing">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="company_brand" jdbcType="VARCHAR" property="companyBrand"/>
        <result column="company_all_name" jdbcType="VARCHAR" property="companyAllName"/>
        <result column="company_intro" jdbcType="VARCHAR" property="companyIntro"/>
        <result column="established_time" jdbcType="VARCHAR" property="establishedTime"/>
        <result column="register_area" jdbcType="VARCHAR" property="registerArea"/>
        <result column="main_Industry" jdbcType="VARCHAR" property="mainIndustry"/>
        <result column="sub_industry" jdbcType="VARCHAR" property="subIndustry"/>
        <result column="company_tag" jdbcType="VARCHAR" property="companyTag"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="financing_last_time" jdbcType="VARCHAR" property="financingLastTime"/>
        <result column="round" jdbcType="VARCHAR" property="round"/>
        <result column="money" jdbcType="INTEGER" property="money"/>
        <result column="currency" jdbcType="VARCHAR" property="currency"/>
        <result column="share" jdbcType="VARCHAR" property="share"/>
        <result column="Valuation" jdbcType="INTEGER" property="valuation"/>
        <result column="Valuation_currency" jdbcType="VARCHAR" property="valuationCurrency"/>
        <result column="Investors" jdbcType="VARCHAR" property="investors"/>
        <result column="education_experience" jdbcType="VARCHAR" property="educationExperience"/>
        <result column="work_experience" jdbcType="VARCHAR" property="workExperience"/>
    </resultMap>


    <resultMap id="labelResultMap" type="com.lhjl.tzzs.proxy.dto.LabelList">
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="value" jdbcType="VARCHAR" property="value"/>
    </resultMap>

    <resultMap id="histogramResultMap" type="com.lhjl.tzzs.proxy.dto.HistogramList">
        <result column="money" jdbcType="BIGINT" property="money"/>
        <result column="dcount" jdbcType="BIGINT" property="dcount"/>
    </resultMap>

    <select id="queryHotCity" resultMap="labelResultMap">
 SELECT g.city name,g.city `value`  FROM (select count(distinct p.serial_number) counts ,city FROM  project_financing_log pfl left join  projects p on pfl.project_id = p.id  WHERE p.continent != '国外' and pfl.financing_time >= '2017-01-01' and city is not NULL and  city != ""  GROUP BY city ) g ORDER BY counts DESC limit 0,11  </select>

    <select id="queryHotEducation" resultMap="labelResultMap">
select fe.education_experience name, fe.education_experience `value`, count(distinct mf.serial_number) count from project_financing_log pfl LEFT JOIN projects mf on pfl.project_id = mf.id

        LEFT JOIN founders f on mf.id = f.project_id

        right join founders_education fe on fe.founder_id = f.id and fe.education_experience != ''
        where pfl.financing_time > '2017-01-01'
        group by fe.education_experience
        order by count desc
        limit 11  </select>
    <select id="queryHotWork" resultMap="labelResultMap">
        select fw.work_experience name,fw.work_experience `value` , count(distinct mf.serial_number) count from project_financing_log pfl LEFT JOIN projects mf on pfl.project_id = mf.id
        left join investment_institutions ii on mf.`investment_institutions_id` = ii.id
        LEFT JOIN founders f on mf.id = f.project_id

        right join founders_work fw on fw.founder_id = f.id
        where pfl.financing_time > '2017-01-01'
        group by fw.work_experience
        order by count desc
        limit 11  </select>

    <select id="queryHotIndustry" resultMap="labelResultMap">
      select ps.segmentation_name name,ps.segmentation_name `value` , count(distinct mf.serial_number) count
      from project_financing_log pfl LEFT JOIN projects mf on pfl.project_id = mf.id
        right join project_segmentation ps on ps.project_id = mf.id

        where pfl.financing_time > '2017-01-01'
        group by ps.segmentation_name
        order by count desc
    </select>


    <select id="queryFinancingCount" resultType="map">
        select count(1) total from (
        select CEILING(pfl.total_amount/${granularity}) * ${granularity} as dis, pfl.stage,mf.full_name from  project_financing_log pfl LEFT JOIN projects mf on pfl.project_id = mf.id
        right JOIN project_segmentation ps on ps.project_id = mf.id
        LEFT JOIN founders f on mf.id = f.project_id
        right join founders_education  fe on fe.founder_ID = f.id
        right join founders_work fw on fw.founder_id = f.id

        where pfl.total_amount > 0 and  pfl.financing_time between #{beginTime} and #{endTime}
        <if test="roundName != '' and roundName != null">
            and pfl.stage = #{roundName}
        </if>
        <if test="industryName != '' and industryName != null">
            and ps.segmentation_name = #{industryName}
        </if>
        <if test="cityName != '' and cityName != null">
            and mf.city =#{cityName}
        </if>
        <if test="educationName != '' and educationName != null">
            and fe.education_experience =#{educationName}
        </if>
        <if test="workName != '' and workName != null">
            and fw.work_experience =#{workName}
        </if>
        group by pfl.stage,mf.full_name

        ) b
    </select>

    <select id="queryValuationCount" resultType="map">
        select count(1) total from (
        select CEILING(pfl.valuation/500) * 500 as dis, pfl.stage,mf.full_name from  project_financing_log pfl LEFT JOIN projects mf on pfl.project_id = mf.id
        right JOIN project_segmentation ps on ps.project_id = mf.id
        LEFT JOIN founders f on mf.id = f.project_id
        right join founders_education  fe on fe.founder_ID = f.id
        right join founders_work fw on fw.founder_id = f.id

        where pfl.valuation > 0 and  pfl.financing_time between #{beginTime} and #{endTime}
        <if test="roundName != '' and roundName != null">
            and pfl.stage = #{roundName}
        </if>
        <if test="industryName != '' and industryName != null">
            and ps.segmentation_name = #{industryName}
        </if>
        <if test="cityName != '' and cityName != null">
            and mf.city =#{cityName}
        </if>
        <if test="educationName != '' and educationName != null">
            and fe.education_experience =#{educationName}
        </if>
        <if test="workName != '' and workName != null">
            and fw.work_experience =#{workName}
        </if>
        group by pfl.stage,mf.full_name

        ) b
    </select>

    <select id="queryValuation" resultMap="histogramResultMap">


        select money,dcount from (
        SELECT dis money, count(1) dcount from (
        select CEILING(pfl.valuation/500) * 500 as dis, pfl.stage,mf.full_name from  project_financing_log pfl LEFT JOIN projects mf on pfl.project_id = mf.id
        right JOIN project_segmentation ps on ps.project_id = mf.id
        LEFT JOIN founders f on mf.id = f.project_id
        right join founders_education  fe on fe.founder_ID = f.id
        right join founders_work fw on fw.founder_id = f.id

        where pfl.valuation > 0 and  pfl.financing_time between #{beginTime} and #{endTime}
        <if test="roundName != '' and roundName != null">
            and pfl.stage = #{roundName}
        </if>
        <if test="industryName != '' and industryName != null">
            and ps.segmentation_name = #{industryName}
        </if>
        <if test="cityName != '' and cityName != null">
            and mf.city =#{cityName}
        </if>
        <if test="educationName != '' and educationName != null">
            and fe.education_experience =#{educationName}
        </if>
        <if test="workName != '' and workName != null">
            and fw.work_experience =#{workName}
        </if>
        group by pfl.stage,mf.full_name

        ) b GROUP by b.dis order by money  limit 0, 15 ) c

    </select>

    <select id="queryFinancingAmount" resultMap="histogramResultMap">
        select money,dcount from (
        SELECT dis money, count(1) dcount from (
        select CEILING(pfl.total_amount/${granularity}) * ${granularity} as dis, pfl.stage,mf.full_name from  project_financing_log pfl LEFT JOIN projects mf on pfl.project_id = mf.id
        right JOIN project_segmentation ps on ps.project_id = mf.id
        LEFT JOIN founders f on mf.id = f.project_id
        right join founders_education  fe on fe.founder_ID = f.id
        right join founders_work fw on fw.founder_id = f.id

        where pfl.total_amount > 0 and  pfl.financing_time between #{beginTime} and #{endTime}
        <if test="roundName != '' and roundName != null">
            and pfl.stage = #{roundName}
        </if>
        <if test="industryName != '' and industryName != null">
            and ps.segmentation_name = #{industryName}
        </if>
        <if test="cityName != '' and cityName != null">
            and mf.city =#{cityName}
        </if>
        <if test="educationName != '' and educationName != null">
            and fe.education_experience =#{educationName}
        </if>
        <if test="workName != '' and workName != null">
            and fw.work_experience =#{workName}
        </if>
        group by pfl.stage,mf.full_name

        ) b GROUP by b.dis order by money  limit 0, 15 ) c
    </select>

</mapper>