<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhjl.tzzs.proxy.mapper.MetaServiceTypeMapper" >
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.MetaServiceType" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="service_type_name" property="serviceTypeName" jdbcType="VARCHAR" />
  </resultMap>
  <select id="findMetaServiceType" resultMap="BaseResultMap">
    SELECT * FROM meta_service_type where
    1=1
    <if test="serviceType != null and serviceType != ''">
      and service_type_name in
      <foreach close=")" collection="serviceType" index="index" item="item" open="(" separator=",">#{item}</foreach>
    </if>
  </select>
</mapper>