<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhjl.tzzs.proxy.mapper.MetaInvestTypeMapper" >
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.MetaInvestType" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="invest_type_id" property="investTypeId" jdbcType="INTEGER" />
    <result column="invest_type" property="investType" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectAll" resultMap="BaseResultMap">
    select * from meta_invest_type;
  </select>

</mapper>