<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhjl.tzzs.proxy.mapper.MetaRegionMapper" >
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.MetaRegion" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="gid" property="gid" jdbcType="INTEGER" />
    <result column="zid" property="zid" jdbcType="INTEGER" />
    <result column="shengid" property="shengid" jdbcType="INTEGER" />
    <result column="shid" property="shid" jdbcType="INTEGER" />
    <result column="quid" property="quid" jdbcType="INTEGER" />
    <result column="ming" property="ming" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectByCityName" resultMap="BaseResultMap">
    select * from meta_region where 1=1
    <if test="searchWord !=null and searchWord !=''">
      and ming like concat(concat("%",#{searchWord}),"%")
    </if>
  </select>

  <select id="selectAllCountry" resultMap="BaseResultMap">
    SELECT * FROM idatavc.meta_region where shengid = 0 and gid != 45055 and (id = 45055 or id > 45062) order by convert(ming using gbk) asc
  </select>
</mapper>