<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhjl.tzzs.proxy.mapper.MetaIdentityTypeMapper" >
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.MetaIdentityType" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
  </resultMap>
  <select id="findMetaIndentityType" resultMap="BaseResultMap">
    SELECT * FROM meta_identity_type where
    1=1
    <if test="identityType != null and identityType != ''">
     and type_name in
      <foreach close=")" collection="identityType" index="index" item="item" open="(" separator=",">#{item}</foreach>
    </if>
  </select>

  <select id="findIdByIdentityName" parameterType="java.lang.String" resultType="java.lang.Integer">
    select id from meta_identity_type where `type_name` =#{identityTypeName};
  </select>

  <select id="findIdentityNameById" parameterType="java.lang.Integer" resultType="java.lang.String">
    select type_name from meta_identity_type where id =#{identityTypeId};
  </select>
</mapper>