<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhjl.tzzs.proxy.mapper.MetaFinancingMapper">
    <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.MetaFinancing">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="company_brand" jdbcType="VARCHAR" property="companyBrand"/>
        <result column="company_all_name" jdbcType="VARCHAR" property="companyAllName"/>
        <result column="company_intro" jdbcType="VARCHAR" property="companyIntro"/>
        <result column="established_time" jdbcType="VARCHAR" property="establishedTime"/>
        <result column="register_area" jdbcType="VARCHAR" property="registerArea"/>
        <result column="main_Industry" jdbcType="VARCHAR" property="mainIndustry"/>
        <result column="sub_industry" jdbcType="VARCHAR" property="subIndustry"/>
        <result column="company_tag" jdbcType="VARCHAR" property="companyTag"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="financing_last_time" jdbcType="VARCHAR" property="financingLastTime"/>
        <result column="round" jdbcType="VARCHAR" property="round"/>
        <result column="money" jdbcType="INTEGER" property="money"/>
        <result column="currency" jdbcType="VARCHAR" property="currency"/>
        <result column="share" jdbcType="VARCHAR" property="share"/>
        <result column="Valuation" jdbcType="INTEGER" property="valuation"/>
        <result column="Valuation_currency" jdbcType="VARCHAR" property="valuationCurrency"/>
        <result column="Investors" jdbcType="VARCHAR" property="investors"/>
        <result column="education_experience" jdbcType="VARCHAR" property="educationExperience"/>
        <result column="work_experience" jdbcType="VARCHAR" property="workExperience"/>
    </resultMap>


    <resultMap id="labelResultMap" type="com.lhjl.tzzs.proxy.dto.LabelList">
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="value" jdbcType="VARCHAR" property="value"/>
    </resultMap>

    <resultMap id="histogramResultMap" type="com.lhjl.tzzs.proxy.dto.HistogramList">
        <result column="money" jdbcType="BIGINT" property="money"/>
        <result column="dcount" jdbcType="BIGINT" property="dcount"/>
    </resultMap>

    <select id="queryHotCity" resultMap="labelResultMap">
      SELECT g.register_area name,g.register_area `value` FROM (select count(register_area) counts ,register_area FROM `meta_financing` WHERE register_area is not NULL and  register_area != "" GROUP BY register_area ) g ORDER BY counts DESC limit 0,12
  </select>

    <select id="queryHotEducation" resultMap="labelResultMap">
      SELECT g.education_experience name,g.education_experience `value` FROM (select count(education_experience) counts ,education_experience FROM `meta_financing_education` mf where education_experience is not null and education_experience != ""  GROUP BY education_experience ) g ORDER BY counts DESC limit 0,12
  </select>
    <select id="queryHotWork" resultMap="labelResultMap">
      SELECT g.work_experience name,g.work_experience `value` FROM (select count(work_experience) counts ,work_experience FROM `meta_financing_work` mf where work_experience is not null and work_experience != "" GROUP BY work_experience ) g ORDER BY counts DESC limit 0,12
  </select>


    <select id="queryFinancingCount" resultType="map">
        SELECT COUNT(1) total,AVG(mf.money) avgMoney FROM meta_financing mf LEFT JOIN meta_financing_education mfe on
        mf.id = mfe.financing_id
        LEFT JOIN meta_financing_work mfw on mf.id = mfw.financing_id WHERE mf.money != 0
        <if test="roundName != '' and roundName != null">
            AND mf.round = #{roundName}
        </if>
        <if test="industryName != '' and industryName != null">
            AND mf.main_Industry = #{industryName}
        </if>
        <if test="cityName != '' and cityName != null">
            AND mf.register_area = #{cityName}
        </if>
        <if test="educationName != '' and educationName != null">
            AND mfe.education_experience = #{educationName}
        </if>
        <if test="workName != '' and workName != null">
            AND mfw.work_experience = #{workName}
        </if>

    </select>

    <select id="queryValuationCount" resultType="map">
        SELECT COUNT(1) total,AVG(mf.money) avgMoney FROM meta_financing mf LEFT JOIN meta_financing_education mfe on
        mf.id = mfe.financing_id
        LEFT JOIN meta_financing_work mfw on mf.id = mfw.financing_id WHERE mf.valuation != 0
        <if test="roundName != '' and roundName != null">
            AND mf.round = #{roundName}
        </if>
        <if test="industryName != '' and industryName != null">
            AND mf.main_Industry = #{industryName}
        </if>
        <if test="cityName != '' and cityName != null">
            AND mf.register_area = #{cityName}
        </if>
        <if test="educationName != '' and educationName != null">
            AND mfe.education_experience = #{educationName}
        </if>
        <if test="workName != '' and workName != null">
            AND mfw.work_experience = #{workName}
        </if>

    </select>

    <select id="queryValuation" resultMap="histogramResultMap">

        SELECT dis money, COUNT(dis) dcount FROM (
        SELECT CEILING(mf.Valuation/500) * 500 as dis, mf.Valuation FROM meta_financing mf LEFT JOIN
        meta_financing_education mfe on mf.id = mfe.financing_id
        LEFT JOIN meta_financing_work mfw on mf.id = mfw.financing_id WHERE mf.valuation != 0
        <if test="roundName != '' and roundName != null">
            AND mf.round = #{roundName}
        </if>
        <if test="industryName != '' and industryName != null">
            AND mf.main_Industry = #{industryName}
        </if>
        <if test="cityName != '' and cityName != null">
            AND mf.register_area = #{cityName}
        </if>
        <if test="educationName != '' and educationName != null">
            AND mfe.education_experience = #{educationName}
        </if>
        <if test="workName != '' and workName != null">
            AND mfw.work_experience = #{workName}
        </if>
        ) a GROUP BY dis

    </select>

    <select id="queryFinancingAmount" resultMap="histogramResultMap">

        SELECT dis money, COUNT(dis) dcount FROM (
        SELECT CEILING(mf.money/500) * 500 as dis, mf.money FROM meta_financing mf LEFT JOIN meta_financing_education
        mfe on mf.id = mfe.financing_id
        LEFT JOIN meta_financing_work mfw on mf.id = mfw.financing_id WHERE mf.money != 0
        <if test="roundName != '' and roundName != null">
            AND mf.round = #{roundName}
        </if>
        <if test="industryName != '' and industryName != null">
            AND mf.main_Industry = #{industryName}
        </if>
        <if test="cityName != '' and cityName != null">
            AND mf.register_area = #{cityName}
        </if>
        <if test="educationName != '' and educationName != null">
            AND mfe.education_experience = #{educationName}
        </if>
        <if test="workName != '' and workName != null">
            AND mfw.work_experience = #{workName}
        </if>
        ) a GROUP BY dis

    </select>

</mapper>