<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhjl.tzzs.proxy.mapper.ProjectSendBMapper">
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.ProjectSendB">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_logo" jdbcType="VARCHAR" property="projectLogo" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="full_name" jdbcType="VARCHAR" property="fullName" />
    <result column="kernel_desc" jdbcType="VARCHAR" property="kernelDesc" />
    <result column="project_investment_highlights" jdbcType="VARCHAR" property="projectInvestmentHighlights" />
    <result column="commet" jdbcType="VARCHAR" property="commet" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="prepare_id" jdbcType="INTEGER" property="prepareId" />
    <result column="edit_status" jdbcType="INTEGER" property="editStatus" />
    <result column="appid" jdbcType="INTEGER" property="appid" />
    <result column="establish_time" jdbcType="TIMESTAMP" property="establishTime" />
    <result column="serial_number" jdbcType="INTEGER" property="serialNumber" />
  </resultMap>

  <resultMap id="ProjectKernelInfoOutputMap" type="com.lhjl.tzzs.proxy.dto.ProjectSendBAuditDto.ProjectKernelInfoOutputDto">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="projectSendId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="project_logo" jdbcType="VARCHAR" property="logo" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="kernel_desc" jdbcType="VARCHAR" property="kernelDesc" />
    <result column="stage" jdbcType="VARCHAR" property="stage"/>
    <result column="segmentation_name" jdbcType="VARCHAR" property="segmentation"/>
  </resultMap>

  <select id="getLastCreateProject" resultMap="BaseResultMap">
    SELECT * FROM project_send_b where user_id = #{userId} and appid = #{appid}
    order by create_time desc
    limit 0,3;
  </select>
  <insert id="copyProjectSendB" keyProperty="id" parameterType="com.lhjl.tzzs.proxy.dto.ProjectSendSearchDto" useGeneratedKeys="true">
    insert into project_send_b(project_logo,short_name,full_name,kernel_desc,project_investment_highlights,commet,url,city,user_id,appid,create_time,prepare_id,edit_status)
    select project_logo,short_name,full_name,kernel_desc,project_investment_highlights,commet,url,city,user_id,appid,now(),#{newprepareid},0 from project_send_b
    where prepare_id=#{prepareid}
    order by create_time desc
    limit 0,1
    <selectKey keyProperty="id" resultType="java.lang.Integer">
      select last_insert_id() as id
    </selectKey>
  </insert>

  <select id="getUserSendInstitutionId" resultType="java.lang.Integer">
    select investment_institution_id from project_send_institution_b
    where project_send_b_id in
    (SELECT id FROM project_send_b where user_id = #{userId})
    group by investment_institution_id
  </select>

  <select id="maxSerialNumber" resultMap="BaseResultMap">
      select * from projects where serial_number between 100000 and 200000 order by serial_number desc
      limit 0,1;
  </select>


  <select id="getSendProjects" resultMap="ProjectKernelInfoOutputMap">
    select psb.id, psb.user_id, psb.project_logo, psb.short_name, psb.city, psb.kernel_desc, psb.create_time, psfab.stage, pssb.segmentation_name
    from project_send_b psb
    left join project_send_financing_approval_b psfab on psb.id = psfab.project_send_b_id
    left join project_send_segmentation_b pssb on psb.id = pssb.project_send_b_id
    left join user_token ut on psb.user_id = ut.user_id
    where ut.token =#{token}
    order by psb.create_time desc
    limit #{start},#{pageSize}
  </select>

  <!--<select id="getSendProjectsCount" resultType="java.lang.Integer">-->
    <!--select count(1)-->
    <!--from project_send_b psb-->
    <!--left join project_send_financing_approval_b psfab on psb.id = psfab.project_send_b_id-->
    <!--left join project_send_segmentation_b pssb on psb.id = pssb.project_send_b_id-->
    <!--where psb.user_id =#{userId}-->
  <!--</select>-->

</mapper>