<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhjl.tzzs.proxy.mapper.ProjectSendBMapper">
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.ProjectSendB">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_logo" jdbcType="VARCHAR" property="projectLogo" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="full_name" jdbcType="VARCHAR" property="fullName" />
    <result column="kernel_desc" jdbcType="VARCHAR" property="kernelDesc" />
    <result column="project_investment_highlights" jdbcType="VARCHAR" property="projectInvestmentHighlights" />
    <result column="commet" jdbcType="VARCHAR" property="commet" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="prepare_id" jdbcType="INTEGER" property="prepareId" />
    <result column="edit_status" jdbcType="INTEGER" property="editStatus" />
    <result column="appid" jdbcType="INTEGER" property="appid" />
  </resultMap>
  <select id="getLastCreateProject" resultMap="BaseResultMap">
    SELECT * FROM project_send_b where user_id = #{userId} and appid = #{appid} and prepare_id = #{prepareId}
    order by create_time desc
    limit 0,3;
  </select>
  <insert id="copyProjectSendB" keyProperty="id" useGeneratedKeys="true" parameterType="com.lhjl.tzzs.proxy.dto.ProjectSendSearchDto">
    insert into project_send_b(project_logo,short_name,full_name,kernel_desc,project_investment_highlights,commet,url,city,user_id,appid,create_time,prepare_id,edit_status)
    select project_logo,short_name,full_name,kernel_desc,project_investment_highlights,commet,url,city,user_id,appid,now(),#{newprepareid},0 from project_send_b
    where prepare_id=#{prepareid}
    order by create_time desc
    limit 0,1
    <selectKey keyProperty="id" resultType="java.lang.Integer">
      select last_insert_id() as id
    </selectKey>
  </insert>
</mapper>