<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhjl.tzzs.proxy.mapper.ProjectSendTeamBMapper">
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.ProjectSendTeamB">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_send_b_id" jdbcType="INTEGER" property="projectSendBId" />
    <result column="member_name" jdbcType="VARCHAR" property="memberName" />
    <result column="company_duties" jdbcType="VARCHAR" property="companyDuties" />
    <result column="stock_ratio" jdbcType="DECIMAL" property="stockRatio" />
    <result column="member_desc" jdbcType="VARCHAR" property="memberDesc" />
    <result column="appid" jdbcType="INTEGER" property="appid" />
    <result column="yn" jdbcType="INTEGER" property="yn" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
    <result column="job_status" jdbcType="INTEGER" property="jobStatus" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="is_hide" jdbcType="INTEGER" property="isHide" />
  </resultMap>
  <select id="getTeamList" resultMap="BaseResultMap">
    SELECT id,member_name,company_duties FROM project_send_team_b where project_send_b_id =#{projectSendBId}
    and appid =#{appid}
    and yn = 0;
  </select>

  <insert id="copyProjectTeamB" keyProperty="id" parameterType="com.lhjl.tzzs.proxy.dto.ProjectSendSearchCommenDto" useGeneratedKeys="true">
    insert into project_send_team_b(project_send_b_id,member_name,company_duties,stock_ratio,member_desc,appid,yn)
    select #{newid},member_name,company_duties,stock_ratio,member_desc,appid,0 from project_send_team_b where id = #{oldid};
    <selectKey keyProperty="id" resultType="java.lang.Integer">
      select last_insert_id() as id
    </selectKey>
  </insert>

  <select id="selectByProjectId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from project_send_team_b where project_send_b_id=#{projectId} and yn=0;
  </select>
</mapper>