<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhjl.tzzs.proxy.mapper.ProjectTeamInfoMapper">
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.ProjectTeamInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="team_introduction" jdbcType="VARCHAR" property="teamIntroduction" />
  </resultMap>
</mapper>