<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhjl.tzzs.proxy.mapper.ProjectFinancialLogFollowStatusMapper">
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.ProjectFinancialLogFollowStatus">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="project_financial_log_id" jdbcType="INTEGER" property="projectFinancialLogId" />
    <result column="meta_follow_status_id" jdbcType="INTEGER" property="metaFollowStatusId" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="submitor_token" jdbcType="VARCHAR" property="submitorToken" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>