<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhjl.tzzs.proxy.mapper.ProjectSendSegmentationBMapper" >
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.ProjectSendSegmentationB" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="project_send_b_id" property="projectSendBId" jdbcType="INTEGER" />
    <result column="segmentation_name" property="segmentationName" jdbcType="VARCHAR" />
    <result column="appid" property="appid" jdbcType="INTEGER" />
  </resultMap>
  <insert id="copyProjectSendSegmentationB" parameterType="com.lhjl.tzzs.proxy.dto.ProjectSendSearchCommenDto">
    insert into project_send_segmentation_b(project_send_b_id,segmentation_name,appid) select #{newid},segmentation_name,appid
    from project_send_segmentation_b where project_send_b_id = #{oldid}
  </insert>

  <select id="selectByProjectId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from project_send_segmentation_b where project_send_b_id=#{projectId};
  </select>
</mapper>