<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhjl.tzzs.proxy.mapper.ReportMapper">
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.Report">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="sub_title" jdbcType="VARCHAR" property="subTitle" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="comments" jdbcType="VARCHAR" property="comments" />
    <result column="cover_url" jdbcType="VARCHAR" property="coverUrl" />
    <result column="from_rul" jdbcType="VARCHAR" property="fromRul" />
    <result column="source_text_url" jdbcType="VARCHAR" property="sourceTextUrl" />
    <result column="weighting_factor" jdbcType="INTEGER" property="weightingFactor" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="yn" jdbcType="INTEGER" property="yn" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="author" jdbcType="VARCHAR" property="author" />
  </resultMap>
  <select id="selectReport" resultMap="BaseResultMap">
    select r.* from report r
    right join report_column rc on r.id = rc.report_id
    left join report_institution_relation rir on r.id = rir.report_id
    where  1= 1
    and yn != 0
    and status != 0
    <if test="institutionId != null and institutionId !=''">
      and rir.institution_id = #{institutionId}
    </if>
    <if test="columnId != null and columnId !=''">
      and column_id =#{columnId}
    </if>
    and r.id is not null
    group by r.id
    limit #{offset},#{limit}
  </select>
  <select id="selectReportCount" resultType="java.lang.Integer">
    select count(*) ct from (
    select r.* from report r
    right join report_column rc on r.id = rc.report_id
    left join report_institution_relation rir on r.id = rir.report_id
    where  1= 1
    and yn != 0
    and status != 0
    <if test="institutionId != null and institutionId !=''">
      and rir.institution_id = #{institutionId}
    </if>
    <if test="columnId != null and columnId !=''">
      and column_id =#{columnId}
    </if>
    and r.id is not null
    group by r.id
    )
   abc
  </select>
</mapper>