<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhjl.tzzs.proxy.mapper.StatisticsMapper">
    <resultMap id="histogramResultMap" type="com.lhjl.tzzs.proxy.dto.HistogramList">
        <result column="money" jdbcType="BIGINT" property="money"/>
        <result column="dcount" jdbcType="BIGINT" property="dcount"/>
        <result column="x" jdbcType="VARCHAR" property="x"/>
        <result column="y" jdbcType="VARCHAR" property="y"/>
    </resultMap>


    <select id="financingCountDistributed" resultMap="histogramResultMap">

        select count x, financing_time y from (
        select count(distinct b.serial_number) count,
        date_format(b.financing_time,'%Y-%m') financing_time
        from (
        select p.full_name,sum(pfl.amount) amount,max(pfl.financing_time) financing_time,max(p.serial_number) serial_number from
        project_financing_log pfl  left join projects  p on pfl.project_id = p.id
        left join investment_institutions ii on p.investment_institutions_id = ii.id
        where pfl.financing_time between #{beginTime} and #{endTime}
        and pfl.stage in ('种子轮','天使轮','Pre-A轮') and p.project_type = 0
        <if test="jgtype != null">
            and ii.type = #{jgtype}
        </if>

        group by p.full_name ) b

        group by date_format(b.financing_time,'%Y-%m')
        ) a order by a.financing_time limit #{froma},#{sizea}

    </select>


    <select id="financingAmountDistributed" resultMap="histogramResultMap">

        select amount x, financing_time y from (
        select sum(a.amount) amount, date_format(a.financing_time,'%Y-%m') financing_time from (
        select p.full_name,pfl.${flag} amount,max(pfl.financing_time) financing_time from project_financing_log pfl  left join projects  p on pfl.project_id = p.id
        left join investment_institutions ii on p.investment_institutions_id = ii.id where pfl.amount > 0
        and pfl.financing_time between #{beginTime} and #{endTime}
        and pfl.stage in ('种子轮','天使轮','Pre-A轮') and p.project_type = 0
        <if test="jgtype != null">
            and ii.type = #{jgtype}
        </if>

        group by p.full_name ) a
        group by date_format(a.financing_time,'%Y-%m')
        ) b order by b.financing_time limit #{froma},#{sizea}

    </select>

    <select id="financingSegmentationDistributed" resultMap="histogramResultMap">

        select segmentation y, count x from (
        select ps.segmentation_name segmentation , count(distinct p.short_name,pfl.stage) count
        from project_segmentation ps left join project_financing_log pfl on ps.project_id = pfl.project_id
        left join projects p on ps.project_id = p.id
        left join investment_institutions ii on p.investment_institutions_id = ii.id
        where pfl.financing_time between
        #{beginTime} and #{endTime}
        and pfl.stage in ('种子轮','天使轮','Pre-A轮') and p.project_type = 0

        <if test="jgtype != null">
            and ii.type = #{jgtype}
        </if>

        group by ps.segmentation_name ) a
        order by a.count desc limit #{froma},#{sizea}
    </select>

    <select id="financingCityDistributed" resultMap="histogramResultMap">

        select city y, count x from (
        select p.city, count(distinct p.short_name,pfl.stage) count
        from project_financing_log pfl
        left join projects p on pfl.project_id = p.id
        left join investment_institutions ii on p.investment_institutions_id = ii.id
        where pfl.financing_time between #{beginTime}
        and #{endTime}
        and pfl.stage in ('种子轮','天使轮','Pre-A轮') and p.project_type = 0
        and p.city is not null
        <if test="jgtype != null">
            and ii.type = #{jgtype}
        </if>

        group by p.city ) a
        order by a.count desc limit #{froma},#{sizea}
    </select>
    <select id="financingEducationExperienceDistributed" resultMap="histogramResultMap">

        select education_experience y, count x from (
        select fe.education_experience, count(distinct mf.short_name,pfl.stage) count from project_financing_log pfl LEFT JOIN projects mf on pfl.project_id = mf.id
        left join investment_institutions ii on mf.`investment_institutions_id` = ii.id
        LEFT JOIN founders f on mf.id = f.project_id
        right join founders_education fe on fe.founder_id = f.id and fe.education_experience != ''
        where pfl.financing_time between
        #{beginTime} and #{endTime}
        and pfl.stage in ('种子轮','天使轮','Pre-A轮') and mf.project_type = 0
        and fe.education_experience != ''
        <if test="jgtype != null">
            and ii.type = #{jgtype}
        </if>

        group by fe.education_experience ) a

        order by a.count desc limit #{froma},#{sizea}
    </select>
    <select id="financingWorkExperienceDistributed" resultMap="histogramResultMap">

        select work_experience y, count x from (
        select fw.work_experience, count(distinct mf.short_name,pfl.stage) count from project_financing_log pfl LEFT JOIN projects mf on pfl.project_id = mf.id
        left join investment_institutions ii on mf.`investment_institutions_id` = ii.id
        LEFT JOIN founders f on mf.id = f.project_id

        right join founders_work fw on fw.founder_id = f.id where pfl.financing_time between
        #{beginTime} and #{endTime}
        and pfl.stage in ('种子轮','天使轮','Pre-A轮') and mf.project_type = 0
        and fw.work_experience != ''
        <if test="jgtype != null">
            and ii.type = #{jgtype}
        </if>

        group by fw.work_experience ) a
        WHERE a.work_experience is not NULL and a.work_experience != ''
        order by a.count desc limit #{froma},#{sizea}
    </select>
    <select id="financingInvestmentDistributed" resultMap="histogramResultMap">

        select city y, count x from (
        select p.city, count(distinct p.short_name,pfl.stage) count
        from project_financing_log pfl
        left join projects p on pfl.project_id = p.id
        left join investment_institutions ii on p.investment_institutions_id = ii.id
        where pfl.financing_time between #{beginTime}
        and #{endTime}
        and pfl.stage in ('种子轮','天使轮','Pre-A轮') and p.project_type = 0
        and p.city is not null
        <if test="jgtype != null">
            and ii.type = #{jgtype}
        </if>

        group by p.city ) a
        order by a.count desc limit #{froma},#{sizea}
    </select>

    <select id="financingInvestmentCharacteristicDistributed" resultMap="histogramResultMap">

        select count(distinct a.userid) x , b.character y from  investor_demand a
        right join investor_demand_character b on b.investor_demand_id = a.id
        group by  b.character
        order by count(distinct a.userid)  desc
        limit #{froma},#{sizea}
    </select>

    <select id="financingInvestmentFocsSegmentationDistributed" resultMap="histogramResultMap">

        select count(distinct a.userid) y , b.segmentation x from  investor_demand a
        right join investor_demand_segmentation b on b.investor_demand_id = a.id
        group by  b.segmentation
        order by count(distinct a.userid)  desc
        limit #{froma},#{sizea}
    </select>
</mapper>