<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhjl.tzzs.proxy.mapper.UsersMapper">
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.Users">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="headpic" jdbcType="VARCHAR" property="headpic" />
    <result column="actual_name" jdbcType="VARCHAR" property="actualName" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="wechat" jdbcType="VARCHAR" property="wechat" />
    <result column="phonenumber" jdbcType="VARCHAR" property="phonenumber" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="identity_type" jdbcType="INTEGER" property="identityType" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_duties" jdbcType="VARCHAR" property="companyDuties" />
    <result column="company_desc" jdbcType="VARCHAR" property="companyDesc" />
    <result column="demand" jdbcType="VARCHAR" property="demand" />
    <result column="headpic_real" jdbcType="VARCHAR" property="headpicReal" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="work_card" jdbcType="VARCHAR" property="workCard" />
  </resultMap>


    <select id="findByUuid" parameterType="String" resultType="INTEGER">
     SELECT u.ID FROM users u WHERE u.uuid=#{uuids}
    </select>
    <select id="findByUserid" parameterType="INTEGER" resultType="INTEGER">
     SELECT c.level_id FROM user_level_relation c WHERE c.user_id =#{userId} AND c.yn=1 AND c.status =1
    </select>
    <select id="findByBei" parameterType="INTEGER" resultType="Float">
        SELECT m.ratio FROM meta_obtain_integral m WHERE m.user_level=#{leId} AND m.scene_key IN('iQMrkC4L','sdQbEZSe','rgJt3Vnk','D8TKEd9L')
    </select>
    <select id="findByJinE" parameterType="String" resultType="INTEGER">
        SELECT integral FROM meta_obtain_integral WHERE scene_key=#{skey}
    </select>
    <select id="findByUserLevel" parameterType="INTEGER" resultType="String">
      SELECT c.name FROM meta_user_level c WHERE c.ID=#{leId}
    </select>

  <select id="findUserList" parameterType="INTEGER" resultMap="BaseResultMap">
    SELECT u.create_time,u.actual_name,u.company_name,u.company_duties,u.ID,u.phonenumber,u.`desc`,u.identity_type,u.create_time,w.nick_name FROM users u right join users_weixin w on w.user_id = u.ID order by u.create_time desc limit #{startPage},#{pageSize} ;
  </select>
</mapper>