<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhjl.tzzs.proxy.mapper.UserChooseRecordMapper">
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.UserChooseRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="datas" jdbcType="VARCHAR" property="datas" />
    <result column="scene_key" jdbcType="VARCHAR" property="sceneKey" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="action_type" jdbcType="INTEGER" property="actionType" />
    <result column="log_type" jdbcType="INTEGER" property="logType" />
  </resultMap>
  <select id="getUserChooseLogByScence" resultMap="BaseResultMap">
    select * from user_choose_record
    where 1=1
    <if test="userId != null and userId !=''">
     and user_id = #{userId}
    </if>
    <if test="sceneKey != null and sceneKey !=''">
      and scene_key= #{sceneKey}
    </if>
    order by create_time desc
    limit 0,3
  </select>
  <select id="getUserElegantLogList" resultType="java.util.HashMap">
    select * from (
    select ucr.id,u.ID as uid,ucr.create_time,ucr.action_type,ucr.log_type,u.actual_name,u.company_name,u.company_duties,u.phonenumber,u.identity_type,ms.`desc`,acl.contact_status
    from user_choose_record ucr
    left join users u on ucr.user_id = u.ID
    left join meta_scene ms on ucr.scene_key = ms.`key`
    left join admin_contact_log acl on ucr.id = acl.user_choose_record_id
    where ucr.log_type = 1
    <if test="beginTime != null and beginTime !='' ">
      and date(ucr.create_time)between(#{beginTime})and(#{endTime})
    </if>
    <if test="actonType != null and actonType != ''">
      and ucr.action_type = #{actonType}
    </if>
    <if test="contactStatus != null and contactStatus != ''">
      and acl.contact_status = #{contactStatus}
    </if>
    <if test="searchWord != null and searchWord !=''">
      and u.actual_name like CONCAT(CONCAT('%', #{searchWord}), '%')
    </if>
    limit #{startPage},#{pageSize}

    union

    select ucr.id,u.ID as uid,ucr.create_time,ucr.action_type,ucr.log_type,u.actual_name,u.company_name,u.company_duties,u.phonenumber,u.identity_type,ms.`desc`,acl.contact_status
    from user_choose_record ucr
    left join users u on ucr.user_id = u.ID
    left join meta_scene ms on ucr.scene_key = ms.`key`
    left join admin_contact_log acl on ucr.id = acl.user_choose_record_id
    where ucr.log_type = 1
    <if test="beginTime != null and beginTime !='' ">
      and date(ucr.create_time)between(#{beginTime})and(#{endTime})
    </if>
    <if test="actonType != null and actonType != ''">
      and ucr.action_type = #{actonType}
    </if>
    <if test="contactStatus != null and contactStatus != ''">
      and acl.contact_status = #{contactStatus}
    </if>
    <if test="searchWord != null and searchWord !=''">
      and u.company_duties like CONCAT(CONCAT('%', #{searchWord}), '%')
    </if>
    limit #{startPage},#{pageSize}

    union

    select ucr.id,u.ID as uid,ucr.create_time,ucr.action_type,ucr.log_type,u.actual_name,u.company_name,u.company_duties,u.phonenumber,u.identity_type,ms.`desc`,acl.contact_status
    from user_choose_record ucr
    left join users u on ucr.user_id = u.ID
    left join meta_scene ms on ucr.scene_key = ms.`key`
    left join admin_contact_log acl on ucr.id = acl.user_choose_record_id
    where ucr.log_type = 1
    <if test="beginTime != null and beginTime !='' ">
      and date(ucr.create_time)between(#{beginTime})and(#{endTime})
    </if>
    <if test="actonType != null and actonType != ''">
      and ucr.action_type = #{actonType}
    </if>
    <if test="contactStatus != null and contactStatus != ''">
      and acl.contact_status = #{contactStatus}
    </if>
    <if test="searchWord != null and searchWord !=''">
      and  u.company_name like CONCAT(CONCAT('%', #{searchWord}), '%')
    </if>
    limit #{startPage},#{pageSize}

    union

    select ucr.id,u.ID as uid,ucr.create_time,ucr.action_type,ucr.log_type,u.actual_name,u.company_name,u.company_duties,u.phonenumber,u.identity_type,ms.`desc`,acl.contact_status
    from user_choose_record ucr
    left join users u on ucr.user_id = u.ID
    left join meta_scene ms on ucr.scene_key = ms.`key`
    left join admin_contact_log acl on ucr.id = acl.user_choose_record_id
    where ucr.log_type = 1
    <if test="beginTime != null and beginTime !='' ">
      and date(ucr.create_time)between(#{beginTime})and(#{endTime})
    </if>
    <if test="actonType != null and actonType != ''">
      and ucr.action_type = #{actonType}
    </if>
    <if test="contactStatus != null and contactStatus != ''">
      and acl.contact_status = #{contactStatus}
    </if>
    <if test="searchWord != null and searchWord !=''">
      and ms.`desc` like CONCAT(CONCAT('%', #{searchWord}), '%')
    </if>
    limit #{startPage},#{pageSize}

    ) a
    order by a.create_time desc
  </select>

  <select id="getUserElegantLogListCount" resultType="INTEGER">
    select count(*) from (
    select ucr.id,u.ID as uid,ucr.create_time,ucr.action_type,ucr.log_type,u.actual_name,u.company_name,u.company_duties,u.phonenumber,u.identity_type,ms.`desc`,acl.contact_status
    from user_choose_record ucr
    left join users u on ucr.user_id = u.ID
    left join meta_scene ms on ucr.scene_key = ms.`key`
    left join admin_contact_log acl on ucr.id = acl.user_choose_record_id
    where ucr.log_type = 1
    <if test="beginTime != null and beginTime !='' ">
      and date(ucr.create_time)between(#{beginTime})and(#{endTime})
    </if>
    <if test="actonType != null and actonType != ''">
      and ucr.action_type = #{actonType}
    </if>
    <if test="contactStatus != null and contactStatus != ''">
      and acl.contact_status = #{contactStatus}
    </if>
    <if test="searchWord != null and searchWord !=''">
      and u.actual_name like CONCAT(CONCAT('%', #{searchWord}), '%')
    </if>

    union

    select ucr.id,u.ID as uid,ucr.create_time,ucr.action_type,ucr.log_type,u.actual_name,u.company_name,u.company_duties,u.phonenumber,u.identity_type,ms.`desc`,acl.contact_status
    from user_choose_record ucr
    left join users u on ucr.user_id = u.ID
    left join meta_scene ms on ucr.scene_key = ms.`key`
    left join admin_contact_log acl on ucr.id = acl.user_choose_record_id
    where ucr.log_type = 1
    <if test="beginTime != null and beginTime !='' ">
      and date(ucr.create_time)between(#{beginTime})and(#{endTime})
    </if>
    <if test="actonType != null and actonType != ''">
      and ucr.action_type = #{actonType}
    </if>
    <if test="contactStatus != null and contactStatus != ''">
      and acl.contact_status = #{contactStatus}
    </if>
    <if test="searchWord != null and searchWord !=''">
      and u.company_duties like CONCAT(CONCAT('%', #{searchWord}), '%')
    </if>

    union

    select ucr.id,u.ID as uid,ucr.create_time,ucr.action_type,ucr.log_type,u.actual_name,u.company_name,u.company_duties,u.phonenumber,u.identity_type,ms.`desc`,acl.contact_status
    from user_choose_record ucr
    left join users u on ucr.user_id = u.ID
    left join meta_scene ms on ucr.scene_key = ms.`key`
    left join admin_contact_log acl on ucr.id = acl.user_choose_record_id
    where ucr.log_type = 1
    <if test="beginTime != null and beginTime !='' ">
      and date(ucr.create_time)between(#{beginTime})and(#{endTime})
    </if>
    <if test="actonType != null and actonType != ''">
      and ucr.action_type = #{actonType}
    </if>
    <if test="contactStatus != null and contactStatus != ''">
      and acl.contact_status = #{contactStatus}
    </if>
    <if test="searchWord != null and searchWord !=''">
      and  u.company_name like CONCAT(CONCAT('%', #{searchWord}), '%')
    </if>

    union

    select ucr.id,u.ID as uid,ucr.create_time,ucr.action_type,ucr.log_type,u.actual_name,u.company_name,u.company_duties,u.phonenumber,u.identity_type,ms.`desc`,acl.contact_status
    from user_choose_record ucr
    left join users u on ucr.user_id = u.ID
    left join meta_scene ms on ucr.scene_key = ms.`key`
    left join admin_contact_log acl on ucr.id = acl.user_choose_record_id
    where ucr.log_type = 1
    <if test="beginTime != null and beginTime !='' ">
      and date(ucr.create_time)between(#{beginTime})and(#{endTime})
    </if>
    <if test="actonType != null and actonType != ''">
      and ucr.action_type = #{actonType}
    </if>
    <if test="contactStatus != null and contactStatus != ''">
      and acl.contact_status = #{contactStatus}
    </if>
    <if test="searchWord != null and searchWord !=''">
      and ms.`desc` like CONCAT(CONCAT('%', #{searchWord}), '%')
    </if>

    ) a
  </select>
</mapper>