<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhjl.tzzs.proxy.mapper.UserIntegralsMapper" >
    <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.UserIntegrals" >
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="scene_key" property="sceneKey" jdbcType="VARCHAR" />
        <result column="integral_num" property="integralNum" jdbcType="INTEGER" />
        <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP" />
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="consume_num" property="consumeNum" jdbcType="INTEGER" />
        <result column="consume_time" property="consumeTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <select id="findIntegralsZ" parameterType="INTEGER" resultType="INTEGER" >
        SELECT IFNULL(SUM(integral_num),0) znum  FROM user_integrals c
        WHERE c.user_id=#{userId,jdbcType=INTEGER} AND c.integral_num>0
        AND c.`end_time` >NOW()
    </select>
    <select id="findIntegralsX" parameterType="INTEGER" resultType="INTEGER" >
        SELECT  IFNULL(SUM(cost_num),0) xnum  FROM user_integral_consume c WHERE user_id=107 AND c.cost_num    &lt;  0
    </select>
    <select id="findBySkey" parameterType="INTEGER" resultType="String" >
        SELECT m.scene_key FROM meta_obtain_integral m WHERE m.user_level=#{leId} AND m.scene_key IN('iQMrkC4L','sdQbEZSe','rgJt3Vnk','D8TKEd9L')
    </select>
    <select id="findByQnum" parameterType="INTEGER" resultType="INTEGER" >
        SELECT integral FROM meta_obtain_integral WHERE scene_key='EWJkiU7Q' AND user_level =#{leId}
    </select>
</mapper>