<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhjl.tzzs.proxy.mapper.UserLevelRelationMapper">
  <resultMap id="BaseResultMap" type="com.lhjl.tzzs.proxy.model.UserLevelRelation">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="level_id" jdbcType="INTEGER" property="levelId" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="yn" jdbcType="INTEGER" property="yn" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <select id="findByMing" parameterType="INTEGER" resultType="java.util.HashMap">
    <!--SELECT a.*,SUM(a.`cost_num`)num FROM user_integral_consume a WHERE a.user_id=#{userId}
     AND a.scene_key NOT
     IN('iQMrkC4L','sdQbEZSe','rgJt3Vnk','D8TKEd9L')
     GROUP BY a.create_time ORDER BY a.create_time DESC
     LIMIT #{beginNum},#{ pageSize}-->
    SELECT * FROM (
    SELECT a.*,SUM(a.`cost_num`)num FROM user_integral_consume a WHERE a.user_id=#{userId}
    GROUP BY a.create_time ORDER BY a.create_time DESC) b
    WHERE b.scene_key NOT IN('iQMrkC4L','sdQbEZSe','rgJt3Vnk','D8TKEd9L')
    LIMIT #{beginNum},#{ pageSize}
  </select>
  <select id="findByUserIdLeid"  resultType="string">
    SELECT mo.scene_key  FROM user_level_relation u
    left join meta_obtain_integral mo on u.level_id = mo.user_level
    WHERE u.user_id=#{userId}
    and u.begin_time &lt;= #{now}
    and u.end_time  &gt;= #{now}
    and mo.scene_key = #{sceneKey}
  </select>

  <!--<select id="findByUserScene" parameterType="INTEGER" resultType="map">-->
    <!--SELECT-->
  <!--</select>-->

  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select * from user_level_relation where user_id =#{userId} and yn =1;
  </select>

</mapper>